<div>
  <div ng-repeat="pathWrapper in paths">
    <div class="col-sm-12" style="background-color:white;">

      <div ng-repeat="node in pathWrapper.path.path" class="col-sm-1" >
        <i class="fa fa-arrow-right pull-left"></i>
        <i class="fa fa-wpforms fa-3x col-sm-11" ng-show="node.url" uib-tooltip="{{node.url}}"></i>
        <div class="col-sm-11" ng-show="node.xpath">

          <div class="elementBubble">
            <i class="fa fa-list-alt fa-2x icon" uib-tooltip="node.xpath"></i>
          </div>
          <div class="actionBubble pull-right">
            <i class="fa fa-mouse-pointer icon" uib-tooltip="node.name"></i>
          </div>
        </div>
      </div>

      <div class="pull-right col-sm-3">
        <i  class="fa fa-times fa-3x col-sm-4"
            style="{{!pathWrapper.useful ? 'color:red' : 'color:#bfbfbf'}}"
            ng-click="pathWrapper.useful=!pathWrapper.useful"></i>

        <i class="fa fa-check fa-3x col-sm-4"
           style="{{pathWrapper.useful ? 'color:green' : 'color:#bfbfbf'}}"
           ng-click="pathWrapper.useful=!pathWrapper.useful"></i>

        <i class="fa fa-angle-down fa-3x col-sm-4"></i>
      </div>
    </div>

    <div ng-show="false">
      <div>
        ELEMENT
        <div>
          xpath : {{path.path[1].xpath}}
        </div>
        css :
        <div ng-repeat="(key, value) in path.path[1].cssProperties">
            {{key}} :           {{value}}
        </div>
        <div>
          attributes
          <div ng-repeat="(key, value) in path.path[1].attributes">
            {{key}} :           {{value}}
          </div>
        </div>
      </div>
      <div >
        URL : {{path.path[0].url}}
        <img ng-src="path[0].screenshot"/>
      </div>
    </div>
  </div>
</div>
