/* CSS Document */

/*------------------------------------------------------------------
[Table of contents]


1. Links
2. Text Format
3. Buttons
3. Main Nav
4. Side Nav
5. Body/View Frame
6. Footer / #footer
7. Scrap

------------------------------------------------------------------------------------------------------------------------------*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	background-color:#eeeeee;
}



/*--------------------------- [1. Links] -------------------------------------------------------------------------------------*/

a img {border: none; }
	a:focus {
    outline: none;
	}
	a {
		color: #0000ff;
		text-align:left;
		text-decoration:none;
		border: none;
	}

	a:link { color: #3376c6;}
	a:visited { color: #3376c6;}
	a:hover { color: #999999;}


/*--------------------------- [2. Text Format] -------------------------------------------------------------------------------*/

	p{
		font-family:Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 19px;
		letter-spacing:.2px;
		margin-bottom: 16px;
		display: inline;
		color:#333333;
		min-width: 300px;
	}
	h1{
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size: 30px;
		line-height: 35px;
		letter-spacing:.4px;
		margin-bottom: 15px;
		font-weight:normal;
		color:#11366e;
	}
	h2{
		font-family:Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 26px;
		letter-spacing:.2px;
		margin-bottom: 18px;
		display: inline;
		color:#11366e;
	}
	h3{
		font-family:Helvetica, Arial, sans-serif;
		font-size: 21px;
		font-weight:normal;
		line-height: 22px;
		letter-spacing:.2px;
		margin-bottom: 22px;
		display: inline;
		color:#999;
	}

	h4{
		font-family:Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 26px;
		letter-spacing:.1px;
		margin-bottom: 18px;
		display: inline;
		color:#3376c6;
	}
	h5{
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size: 14px;
		font-weight:normal;
		color:#FFFFFF;
		padding: 10px;
	}











/*--------------------------- [3. Buttons] -----------------------------------------------------------------------------*/

.btn-right {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
   border-top-right-radius:4px;
    border-top-left-radius:0px !important;
  border-bottom-left-radius:0px !important;
  border-bottom-right-radius:4px;
}

.btn-navigation {
  color: #fff;
  background-color: #bdc3c7;
  border-color: #4cae4c;
}
.btn-navigation:focus,
.btn-navigation.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-navigation:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-navigation:active,
.btn-navigation.active,
.open > .dropdown-toggle.btn-navigation {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-navigation:active:hover,
.btn-navigation.active:hover,
.open > .dropdown-toggle.btn-navigation:hover,
.btn-navigation:active:focus,
.btn-navigation.active:focus,
.open > .dropdown-toggle.btn-navigation:focus,
.btn-navigation:active.focus,
.btn-navigation.active.focus,
.open > .dropdown-toggle.btn-navigation.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-navigation:active,
.btn-navigation.active,
.open > .dropdown-toggle.btn-navigation {
  background-image: none;
}
.btn-navigation.disabled:hover,
.btn-navigation[disabled]:hover,
fieldset[disabled] .btn-navigation:hover,
.btn-navigation.disabled:focus,
.btn-navigation[disabled]:focus,
fieldset[disabled] .btn-navigation:focus,
.btn-navigation.disabled.focus,
.btn-navigation[disabled].focus,
fieldset[disabled] .btn-navigation.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-navigation .badge {
  color: #5cb85c;
  background-color: #fff;
}


.list-group-item-navigation {
  color: #3c763d;
  background-color: #dff0d8;
}
a.list-group-item-navigation,
button.list-group-item-navigation {
  color: #3c763d;
}
a.list-group-item-navigation .list-group-item-heading,
button.list-group-item-navigation .list-group-item-heading {
  color: inherit;
}
a.list-group-item-navigation:hover,
button.list-group-item-navigation:hover,
a.list-group-item-navigation:focus,
button.list-group-item-navigation:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}
a.list-group-item-navigation.active,
button.list-group-item-navigation.active,
a.list-group-item-navigation.active:hover,
button.list-group-item-navigation.active:hover,
a.list-group-item-navigation.active:focus,
button.list-group-item-navigation.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}








/*--------------------------- [3. Main Nav] -----------------------------------------------------------------------------*/

#main-nav{
	background-color:#ffffff;
	color: #bdc3c7;
	padding:20px;
	  position: fixed;
  right: 0;
  width:100% !important;
  z-index: 30;
}

#main-nav input{
	height:34px;
	background-color:#fafafa;
	color:#bdc3c7;
	border-color:#bdc3c7;
}

#main-nav select{
	height:34px;

}


#main-nav a:focus {
    outline: none;
	}


#main-nav a {
		color: #bdc3c7;
		text-align:left;
		text-decoration:none;
		border: none;
	}

#main-nav a:link { color: #bdc3c7;}
#main-nav a:visited { color: #bdc3c7;}
#main-nav a:hover { color: #9ba0a3;}
#main-nav a:active { color: #9ba0a3;}

#searchbar{
	display:inline-block;}

#searchbutton{
	display:inline-block;}


.toggleright{
	font-size:30px;
	line-height:30px;
	float:right;
	clear:both;
	}



.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}






@media(min-width:768px) {


    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}



/*--------------------------- [4. Side Nav] -----------------------------------------------------------------------------*/


/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    width: 50px;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
	background-color:#34495e;
	color: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    background-color:#eeeeee;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav a:focus {
    outline: none;
	}

.sidebar-nav a:visited { color: #acc2d7;}
.sidebar-nav a:active { color: #ffffff;}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #acc2d7;
}

.sidebar-nav-icons{
   padding-right:14px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(0,0,0,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-brand-container{
	width: 220px;
	padding:20px 20px 20px 20px;
	}

.sidebar-brand {
	padding:15px 15px 0px 0px;
	height:34px;
    font-size: 18px;
    line-height: 20px;
	display:inline-block;
}

.sidebar-brand a {
    color: #acc2d7;
}

.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.toggleleft{
	font-size:30px;
	line-height:30px;
	float:right;
	clear:both;
	}

.toggleleft a {
		color: #acc2d7;
		text-align:left;
		text-decoration:none;
		border: none;
	}

.toggleleft a:link { color: #acc2d7;}
.toggleleft a:visited { color: #acc2d7;}
.toggleleft a:hover { color: #ffffff;}
.toggleleft a:active { color: #ffffff;}


@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }

    #sidebar-wrapper {
        width: 220px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}









/*--------------------------- [5. Body/ View Frame] --------------------------------------------------------------------------------*/
#view-frame{
	background-color:#ffffff;
	margin-top:94px;
	padding-top:20px;
	padding-bottom:20px;
	margin-left:5px;
	margin-right:5px;
	height:100%;
	}


/*--------------------------- [6. Footer] ------------------------------------------------------------------------------*/



/*--------------------------- [7. Path Bubbles- scrap] -----------------------------------------------------------------*/

.elementBubble {
  position : absolute;
  border-radius : 100em;
  border-width : 10px;
  border-color : #bfbfbf;
  border-style : solid;
  width: 4.5em;
  height: 4.5em;
}

.elementBubble .icon {
  position: absolute;
  left : .3em;
  top : .3em;
}

.actionBubble {
  position: absolute;
  top: -1.3em;
  left : 4em;
  border-radius : 100em;
  border-width : 7px;
  border-color : #bfbfbf;
  border-style : solid;
  width: 2.5em;
  height: 2.5em;
}

.actionBubble .icon {
  position : absolute;
  top: .3em;
  left: .5em;
}
