.elementActionContainer {
  display: inline;
  position : relative;

}

.elementBubble {
  border-radius : 100em;
  border-width : 10px;
  border-color : gray;
  border-style : solid;
  width: .5em;
  height: 4em;
}

.actionBubble {
  position: absolute;
  top: -1.2em;
  right : 1.7em;
  border-radius : 100em;
  border-width : 7px;
  border-color : gray;
  border-style : solid;
  width: 2.5em;
  height: 2.5em;
}
