.elementBubble {
  position : absolute;
  border-radius : 100em;
  border-width : 10px;
  border-color : #bfbfbf;
  border-style : solid;
  width: 4.5em;
  height: 4.5em;
}

.elementBubble .icon {
  position: absolute;
  left : .3em;
  top : .3em;
}

.actionBubble {
  position: absolute;
  top: -1.3em;
  left : 4em;
  border-radius : 100em;
  border-width : 7px;
  border-color : #bfbfbf;
  border-style : solid;
  width: 2.5em;
  height: 2.5em;
}

.actionBubble .icon {
  position : absolute;
  top: .3em;
  left: .5em;
}
