/* Form Styles */

.form__field__profile {
	padding-top: 15px;
  padding-bottom: 15px;
	width: 100%;
  color: #424242;
  background-color: #ffffff;
	transition: background-color 10s ease-in-out;
  border: 1px solid #e0e0e0;
}
.form__field__label{
  flex-grow: 2;
}
.form__field__functions {
	width:50px;
}
.form_field_controls{
  width: 120px;
      display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.form_field_element{
  width: 140px;
}
.form_field_rule{
  width: 280px;
}