/* Form Styles */

.form__field__profile {
	padding: 15px;
	min-height: 60px;
	width: 100%;
  color: #424242;
  background-color: #ffffff;
	transition: background-color 10s ease-in-out;
  border: 1px solid #e0e0e0;
}
.form__field__label{
  flex-grow: 2;
}
.form__field__functions {
	width:40px;
}