t/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




/*------------------------------------------------------------------
[Table of contents]


1. Links
2. Text Format
3. Buttons
3. Main Nav
3. Secondary Nav
4. Side Nav
5. Body/View Frame
6. Footer / #footer
7. Scrap

------------------------------------------------------------------------------------------------------------------------------*/

html {
    color: #222;
    font-size: .875em;
    line-height: 1.4;
	background-color:#f5f5f5;
}


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.no-padding {
    padding:0px !important;
}


.fa { display:inline !important; }

.white{
  color: white !important;
}

.text--shadow{
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
}

/*--------------------------- [1. Links] -------------------------------------------------------------------------------------*/

a img {border: none; }
	a:focus {
    outline: none;
	}
	a {
		color: #0000ff;
		text-align:left;
		text-decoration:none;
		border: none;
	}

	a:link { color: #3376c6;}
	a:visited { color: #3376c6;}
	a:hover { color: #999999;}


/*--------------------------- [2. Text Format] -------------------------------------------------------------------------------*/

	p{
		font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 12px;
		line-height: 18px;
		letter-spacing:.2px;
		margin-bottom: 16px;
		display: inline;
		color:#333333;
		min-width: 300px;
	}

  h1,
  .h1 {
    font-size: 36px;
  }
  h2,
  .h2 {
    font-size: 30px;
  }
  h3,
  .h3 {
    font-size: 24px;
  }
  h4,
  .h4 {
    font-size: 18px;
  }
  h5,
  .h5 {
    font-size: 14px;
  }
  h6,
  .h6 {
    font-size: 12px;
  }


	h1{
		font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 30px;
		line-height: 35px;
		letter-spacing:.4px;
		margin-bottom: 15px;
		font-weight:normal;
		color:#11366e;
	}
	h2{
		font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 18px;
		letter-spacing:0px;
		display: inline;
		color:#11366e;
	}
  /*--------------------------- [x] ---------------------------*/
	h3{
		font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #2d2d2d !important;
		font-size: 20px;
		font-weight:400 !important;
		line-height: 32px !important;
		letter-spacing:.1px;
    text-align: center;
	}

/*--------------------------- [Modal Header] ---------------------------*/
  h4{
		font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 18px;
		font-weight:400 !important;
		line-height: 20px;
		letter-spacing:.1px;
		display: inline;
		color:#999;
	}
  h5{
		font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #2d2d2d !important;
		font-size: 20px !important;
		font-weight:400 !important;
		letter-spacing:.1px;
    text-align: center;
	}


/*--------------------------- [3. Buttons] -----------------------------------------------------------------------------*/

.btn {
  display: inline-block;
  padding: 5px 12px !important;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 4px;
}

.btn-lg{
  border-width: 0px !important;
}

.btn--left {
   border-top-right-radius:0px !important;
    border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:0px !important;
}

.btn--middle {
   border-radius:0px !important;
	margin-left:1px !important;
}

.btn--right {
   border-top-right-radius:4px;
    border-top-left-radius:0px !important;
  border-bottom-left-radius:0px !important;
  border-bottom-right-radius:4px;
	margin-left: 1px !important;
}


.btn--green {
  color: #fff;
  background-color: #66bb6a;
}
.btn--green:focus,
.btn--green.focus {
  color: #fff !important;
  background-color: #43a047;
}
.btn--green:hover {
  color: #fff !important;
  background-color: #43a047;
}
.btn--green:active,
.btn--green.active,
.open > .dropdown-toggle.btn--green {
  color: #fff !important;
  background-color: #43a047;
}


.btn--red {
  color: #fff;
  background-color: #ef5350;
}
.btn--red:focus,
.btn--red.focus {
  color: #fff !important;
  background-color: #e53935;
}
.btn--red:hover {
  color: #fff !important;
  background-color: #e53935;
}
.btn--red:active,
.btn--red.active,
.open > .dropdown-toggle.btn--red {
  color: #fff !important;
  background-color: #e53935;
}

.btn--gray {
  color: #424242;
  background-color: #e0e0e0;
}
.btn--gray:focus,
.btn--gray.focus {
  color: #fff;
  background-color: #cccccc;
}
.btn--gray:hover {
  color: #fff;
  background-color: #cccccc;
}
.btn--gray:active,
.btn--gray.active,
.open > .dropdown-toggle.btn--gray {
  color: #fff;
  background-color: #cccccc;
}


/*--------------------------- [3. Main Nav] -----------------------------------------------------------------------------*/

#main-nav{
	 background: #ffffff;
	height: 60px;
	color: #2d2d2d;
	border-bottom: 1px solid #eeeeee;
}

#left-main-nav{

}

#right-main-nav{
	text-align: right;
}

.user__name{
  display: inline !important;
}

.dropdown{
  display: inline !important;
  padding-left:12px;
}

.login__signup{
  padding-right:15px;
}


/*--------------------------- [3. Sidenav Bar] -----------------------------------------------------------------------------*/



.sidebar-nav {
    list-style: none;
	font-size:16px;
    margin: 0;
    padding: 0;
	z-index: 300 !important;
}

.sidebar-nav a:focus {
    outline: none;
	color: #fddb4e !important;
	background: rgba(0,0,0,0.2) !important;
	border-left: 5px solid #fddb4e;
	padding-left: 15px !important;
}

.sidebar-nav a:visited { color: #ffffff;}

#notification_li {
			position:relative
			}
#notification_count
		{
		padding: 3px 7px 3px 7px;
		background: #cc0000;
		color: #ffffff;
		font-weight: bold;
		margin-left: 15px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		font-size: 10px;
		}


.sidebar-nav li {
    text-indent: 10px;

    line-height: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
	  padding: 20px;
    color: #ffffff;
}

.sidebar-nav-icons{
   padding-right:14px;
}

.sidebar-nav li a:hover {
    color: #fddb4e;
    background: rgba(0,0,0,0.1);
	border-left: 5px solid #fddb4e;
	padding-left: 15px !important;
}
.sidebar-brand{
	padding: 15px 15px 14px 15px;
    font-size: 18px;
    line-height: 20px;
	text-align: center;
}
* {
  box-sizing: border-box;
outline:none !important;
}

html, body {
  min-height: 100%;
}

.main-header {
  background: #ffffff;
  padding: 0px;
  position: fixed;
	width: 80%;
  left: 20%;
	z-index: 10;
  transition: all 0.3s ease;
}
.toggle-menu {
  position: absolute;
	width: 100%;
	text-align: center;
  bottom: 0px;
  padding: 14px 0px 14px 0px;
  color: white;
  font-size: 32px;
  line-height: 32px;
  cursor: pointer;
  margin-bottom: 0px !important;
background: linear-gradient(#3e3e3e, #383838);
  border-top: 1px solid #484848;
}

.toggle-menu a {
  display: block;
  background: linear-gradient(#3e3e3e, #383838);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  color: white;
  padding: 15px;
}
.toggle-menu a:hover, .side-nav a:focus {
  background: linear-gradient(#484848, #383838);
}

.version {
  position: absolute;
	width: 100%;
	text-align: center;
  bottom: 60px;
  padding: 14px 0px 14px 0px;
  color: #616161;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  margin-bottom: 0px !important;
}

.page-wrap {
  float: right;
  width: 80%;
  padding-left:0px;
  transition: width 0.3s ease;
}

.main-nav-check {
  display: none;
}


.side-nav {
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
  background: #3B3B3B;
  overflow: hidden;
  transition: width 0.3s ease;
}
.side-nav a {
  display: block;
  background: linear-gradient(#3e3e3e, #383838);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  color: white;
  padding: 15px;
}
.side-nav a:hover, .side-nav a:focus {
  background: linear-gradient(#484848, #383838);
}

.close-menu {

	display: block;
}

#main-nav-check:checked + #side-nav {
  width: 80px;
}

#main-nav-check:checked ~ .page-wrap {
  width: 100%;
  padding-left:80px;
}
#main-nav-check:checked ~ .page-wrap .open-menu {
  display: block;
}
#main-nav-check:checked ~ .page-wrap .close-menu {
 display: none;
}
#main-nav-check:checked ~ .page-wrap .main-header {
  width: -moz-calc(100% - 80px);
/* WebKit */
width: -webkit-calc(100% - 80px);
/* Opera */
width: -o-calc(100% - 80px);
/* Standard */
width: calc(100% - 80px);
	 left: 80px;
}



/*--------------------------- [5. Body/ View Frame] --------------------------------------------------------------------------------*/


/*--exterior container--*/
.container-fluid {
	background-color: #f5f5f5;
	height:100%;
	}

/*--interior container--*/
.content {height:100%;
	}
/*--------------------------- [3. Secondary Nav] -----------------------------------------------------------------------------*/

.secondary-nav{
	color: #2d2d2d;
	height: 60px;
	/*border-bottom: 2px solid #eeeeee;*/
}

.search { position: relative; }
.search input { text-indent: 0px; }
.search .fa-search {
  font-size: 1em;
  color: grey;
}



/*--------------------------- [?. Material Design Tabs] --------------------------------------------------------------------------------*/


.info__title{
		font-size: 16px;
		line-height: 26px;
		letter-spacing:.2px;
		padding-bottom: 30px !important;
		display: inline;
		color:#11366e;
}

md-tabs {
  display: block;
  margin: 0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  &:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 200 + $tabs-header-height;
  }
}

md-tab {
  position: absolute;
  z-index: -1;
  left: -9999px;
}

.md-tab {
  font-size: 16px;
  text-align: center;
  line-height: $tabs-header-height - 24;
  padding: auto 15px;
  transition: background-color 0.35s $swift-ease-in-out-timing-function;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
  @include rtl(float, left, right);
  font-weight: 500;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  &.md-focused, &:focus {
    box-shadow: none;
    outline: none;
  }
  &.md-active {
    cursor: default;
  }
  &.md-disabled {
    pointer-events: none;
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 0.5;
    cursor: default;
  }
  &.ng-leave {
    transition: none;
  }
}





/*--------------------------- [6. Test/Test Container/Test Labels] --------------------------------------------------------------------------------*/


.test{
	background-color: #ffffff;
	border-top: 0px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.test-container{
	background-color: #ffffff;
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
    overflow-y:auto;
	height: -moz-calc(100% - 90px);
/* WebKit */
height: -webkit-calc(100% - 90px);
/* Opera */
height: -o-calc(100% - 90px);
/* Standard */
height: calc(100% - 90px);
	margin-bottom: 90px !important;
}

.full__height{
	height: -moz-calc(100% - 90px);
/* WebKit */
height: -webkit-calc(100% - 90px);
/* Opera */
height: -o-calc(100% - 90px);
/* Standard */
height: calc(100% - 90px);
	padding-bottom: 15px !important;
}


.test-labels{
	text-align: center !important;
	padding-top: 20px;
	padding-bottom: 10px;
	height: 60px;
}

.empty__state{
  padding-bottom:60px;
}

.vertical__center,
.vertical__center__int > div{
	position: relative;
 	top: 50%;
  transform: perspective(1px) translateY(-50%);
}

/*--------------------------- [6. Test Profile] --------------------------------------------------------------------------------*/


/*-------break this down for each data point,correct,incorrect---------*/
.test__profile{
	padding-top: 0px;
	text-align: center !important;
	padding-bottom: 0px;
	height: 60px;
}


.test__profile {
  color: #424242;
  background-color: #ffffff;
}

.test__profile:focus,
.test__profile.focus {
	outline:none;
  background-color: #fafafa;
}
.test__profile:hover {
  background-color: #fafafa;
}
.test__profile:active,
.test__profile.active {
  background-color: #fafafa;
}

.test__btns{
	float: right !important;
}

.test__btns > .btn-group{
	float: right !important;
}


/*--------------------------- [6. Test Status] --------------------------------------------------------------------------------*/
.status--symbol{
	font-size: 30px !important;
}

.status{
	color: #ffffff !important;
	font-size: 12px;
	height:60px;
}

.status--symbol{
	font-size: 30px;
}
/*--------------------------- [6. Test Path] --------------------------------------------------------------------------------*/

.test__path{
  border-top: 1px solid #e0e0e0;
	height: 135px;
  padding: 0px 30px  0px 30px !important;
}

.path-node-image {
  vertical-align: middle;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.path-bar .display_none_right{
  display: none !important;
}

.path-page {
}

.path-node-container {
  height: 90px;
  width:  90px;
  float: left;
}

.path-node {
  height: 90px;
  width:  60px;
  float: left;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.path-node {
  color: #424242;
    border: 1px solid #ffffff;
}

.path-node:focus,
.path-node.focus {
	outline:none;
    border: 2px solid #fddb4e;
}
.path-node:hover {
  border: 2px solid #fddb4e;
}
.path-node:active,
.path-node.active {
  border: 2px solid #fddb4e;
}

.path-element {
	height: 60px !important;
	border: 1px solid #eeeeee;
	border-radius: 50%;
  padding:8px;
}

.path-action {
	height: 60px !important;
	border: 1px solid #eeeeee;
  padding:8px;
}

.path-bar{
  vertical-align: top;
  height: 50%;
  width: 30px;
  float: left;
	border-bottom: 1px solid #eeeeee;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*--------------------------- [6. Test Groups] --------------------------------------------------------------------------------*/

.test__groups{
	height: 60px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding:15px;

}

.test__groups > div{
	display: inline;
}

/*--------------------------- [6. Test Info] --------------------------------------------------------------------------------*/


.test__info{
	height: 300px;
}

.node__data{
	padding:15px;
}

.node__title{
  padding-bottom:15px;
}

.test__history{
	padding:15px;
	font-size: 14px !important;
		line-height: 20px;
		letter-spacing:.2px;
		color:#333333;
}

.key--value {
}

.data__key{
	text-transform: capitalize;

		font-size: 14px;
		line-height: 20px;
		letter-spacing:.2px;
		padding-bottom: 6px !important;
		color:#333333;
	text-align: left;
}

.data__value{
		font-size: 14px !important;
		line-height: 20px;
		letter-spacing:.2px;
		padding-bottom: 6px !important;
		color:#333333;
}

/*--------------------------- [7. Footer] ------------------------------------------------------------------------------*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




.a0-sign-up > span {
  text-align: center !important;
}

.a0-primary {
  background-color: #fddc05 !important;
}

.a0-footer {
  display: none !important;
}


/*--------------------------- [7. Domains Page] ------------------------------------------------------------------------------*/

.error__message{
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	background-color:red;
	margin: 0px 0px 0px 0px;
}

.domain__button{
	background-color:#ffffff;
	margin:15px 15px;
	padding:15px;
	height:250px;
	width:250px;
	border-radius: 5px;
  color: #bbbbbb !important;
  float:left;
}

.domain__logo{
  max-height:100px;
	width:100%;
  margin: auto;
	text-align: center;
}

.domain__logo img{
	width:100%;
  padding:0px 15px;
}

.domain--largeicon{
	font-weight: 700;
	text-align: center;
}

.domain__title{
}

.domain__button:focus,
.domain__button.focus {
  background-color:#e0e0e0;
    color: #999999 !important;
}
.domain__button:hover {
  background-color:#e0e0e0;
    color: #999999 !important;
}
.domain__button:active,
.domain__button.active,
.open > .dropdown-toggle.domain__button {
  background-color:#e0e0e0;
    color: #999999 !important;
}


.domain--largeicon:focus,
.domain--largeicon.focus {
  color: #999999;
}
.domain--largeicon:hover {
  color: #999999;
}
.domain--largeicon:active,
.domain--largeicon.active,
.open > .dropdown-toggle.domain--largeicon {
  color: #999999;
}

.delete__domain:focus,
.delete__domain.focus {
  color: #333333;
}
.delete__domain:hover {
  color: #333333;
}
.delete__domain:active,
.delete__domain.active,
.open > .dropdown-toggle.delete__domain {
  color: #333333;
}

.delete__domain{
    color: #999999;
}

.domain-dialogue-close{
  text-align:right !important;
  padding:30px 30px;
}
.domain-dialogue-header {
  text-align:center;
  vertical-align: middle;
  padding:0px 0px 0px 0px;
}

.domain-dialogue-input {
  max-width: 440px;
  padding:60px 0px 60px 0px;
  margin: auto;
  display: flex;
   justify-content: center;
   align-items:center;
}

.domain-dialogue-button {
  display: flex;
  margin:0px auto 60px auto;
  justify-content: center;
}
