/*--------------------------- [1. ] -----------------------------------------*/
.modal-frame{
	padding:25px 30px 30px 30px;
}
.dialogue-close{
  text-align:right !important;
  padding:0px 0px 5px 15px;
}
.dialogue-close{
  text-align:right !important;
  padding:0px 0px 5px 15px;
	
}
.dialogue-close h2{
  line-height: 34px !important;
	margin:0px;
	font-size:20px;
}
md-dialog {
    opacity: 0;
    min-width: 240px; 
    max-width: 80%;
    max-height: 96% !important;
    position: relative;
    overflow: auto;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.thead-light h6{
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
	margin-bottom: 0px;
}

.modal-form{
	padding:0px 0px 30px 0px;
}

.form_molecule {
    padding-bottom: 15px;
}

.domain_modal_logo{
      padding-bottom:15px;
}

.domain_modal_logo img{
	  max-width:220px !important;
     max-height:120px !important;
}

.domain_modal_logo i{
    color:#bbb;
	  font-size:80px;
}

.modal__title{
	margin-top:0px;
	margin-bottom:20px;
	color:#553fc0;
	border-bottom: 1px solid #553fc0;
}

.modal-browser-icon{
	bottom:0;
	
}

.modal-flat-icon{
	margin: 10px 3px 10px 3px;
}
.chrome{
    width: 42px !important;
    height: 42px !important;
	margin: 8px 3px 7px 3px;
}

.firefox{
    width: 40px !important;
    height: 40px !important;
	margin: 8px 3px 9px 3px;
}

.fa-icon{
	text-shadow: 0px 2px #ffffff;
	font-size: 40px;
}

.fa-icon i{
}

.browser_buttons{
	margin-bottom: 10px;
}

.browser_spacing{
    padding-right: 5px;
}

.domain-dialogue {
}

.domain-dialogue-close{
  text-align:right !important;
}
.domain-dialogue-header {
  margin-bottom 30px;
}
.domain-dialogue-header h2 {
	padding:0px !important;
}

.domain-dialogue-input {
    display: flex;
}

.form_label_description {
    padding-top: 5px;
     padding-bottom: 10px;
}

.form_label_description_domain {
    padding-top: 5px;
     padding-bottom: 3px;
}

.form_label_description h6, .form_label_description_domain h6{
    font-weight: 500;
}

.domain_protocol{
        margin-right: 5px !important;
}

/* Button Depressed */
.btn-depressed {
	background: #eee;
	color:#cccccc;
	box-shadow: 0 6px #ccc;
	border-radius: 5px;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-depressed:focus {
	color:#bbb;
	outline: none !important;
}

.btn-depressed:hover {
	color:#bbb;
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}

.btn-depressed:visited {
	color:#bbb;
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}

.btn-depressed:active {
	color:#bbb;
	box-shadow: 0 0 #ccc;
	top: 8px;
	outline: none ;
}

.btn-depressed:active,
.btn-depressed.active {
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}


.node-depressed {
	height: 90px;
	background: #eee;
	color:#bbb;
	box-shadow: 0 6px #ccc;
	border-radius: 5px;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
  display: inline-block;
  padding: 0px !important;
  margin-bottom: 0;
  min-height: 40px;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 4px;
	position: relative;
}

.node-depressed:focus {
	color:#bbb;
	outline: none !important;
}

.node-depressed:hover {
	color:#bbb;
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}

.node-depressed:visited {
	color:#bbb;
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}

.node-depressed:active {
	color:#bbb;
	box-shadow: 0 0 #ccc;
	top: 8px;
	outline: none ;
}

.node-depressed:active,
.node-depressed.active {
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}


.action_button_container{
	flex-shrink: 0;
  padding-top: 30px;
	padding-right: 15px;
	padding-bottom: 55px;
}

.settings-page{
	flex: 1 0 auto;
}

.modal_action_button{
    margin-bottom: 30px !important;
    margin-right: 15px !important;
	padding:0px;
}