/*--------------------------- [1. ] -----------------------------------------*/
.modal-frame{
	padding:25px 30px 30px 30px;
}
.dialogue-close{
  text-align:right !important;
  padding:0px 10px 0px 14px;
  margin-bottom: 5px;
}
.dialogue-close h2{
  line-height: 34px !important;
	margin:0px;
	font-size:20px;
}
md-dialog {
    opacity: 0;
    min-width: 240px  !important;
    max-width: 92% !important;
    width: 100% !important;
    max-height: 92% !important;
    position: relative;
    overflow: auto;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.thead-light h6{
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
	margin-bottom: 0px;
}

.modal-form{
	padding:0px 0px 30px 0px;
}

.form_molecule {
    padding-top: 8px;
  padding-bottom: 15px;
}

.domain_modal_logo{
      padding-bottom:15px;
}

.domain_modal_logo img{
	  max-width:220px !important;
     max-height:120px !important;
}

.domain_modal_logo i{
    color:#bbb;
	  font-size:80px;
}

.modal__title{
	margin-top:0px;
	margin-bottom:20px;
	color:#553fc0;
	border-bottom: 1px solid #553fc0;
}

.modal-browser-icon{
	bottom:0;

}

.modal-flat-icon{
	margin: 10px 3px 10px 3px;
}
.chrome{
    width: 42px !important;
    height: 42px !important;
	margin: 8px 3px 7px 3px;
}

.firefox{
    width: 40px !important;
    height: 40px !important;
	margin: 8px 3px 9px 3px;
}

.fa-icon{
	text-shadow: 0px 2px #ffffff;
	font-size: 40px;
}

.fa-icon i{
}

.browser_buttons{
	margin-bottom: 10px;
}

.browser_spacing{
    padding-right: 5px;
}

.domain-dialogue {
}

.domain-dialogue-close{
  text-align:right !important;
}
.domain-dialogue-header {
  margin-bottom: 30px;
}
.domain-dialogue-header h2 {
	padding:0px !important;
}

.domain-dialogue-input {
    display: flex;
}

.form_label_description {
    padding-top: 5px;
     padding-bottom: 10px;
}

.form_label_description_domain {
    padding-top: 5px;
     padding-bottom: 3px;
}

.form_label_description h6, .form_label_description_domain h6{
    font-weight: 500;
}

.disclaimer-checkbox{
	display: block  !important;
	float: left;
	padding-right:15px;
	width:27px;
	padding-bottom:100px;
}

.disclaimer{
	display: inline !important;
	float: right;
}

.disclaimer p{
	font-size: 10px  !important;
	line-height:14px;

}


.domain_protocol{
        margin-right: 5px !important;
}

/* Button Depressed */
.btn-depressed {
	background: #eee;
	color:#cccccc;
	box-shadow: 0 6px #ccc;
	border-radius: 5px;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-depressed:focus {
	color:#bbb;
	outline: none !important;
}

.btn-depressed:hover {
	color:#bbb;
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}

.btn-depressed:visited {
	color:#bbb;
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}

.btn-depressed:active {
	color:#bbb;
	box-shadow: 0 0 #ccc;
	top: 8px;
	outline: none ;
}

.btn-depressed:active,
.btn-depressed.active {
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}


.node-depressed {
	height: 90px;
	background: #eee;
	color:#bbb;
	box-shadow: 0 6px #ccc;
	border-radius: 5px;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
  display: inline-block;
  padding: 0px !important;
  margin-bottom: 0;
  min-height: 40px;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 4px;
	position: relative;
}

.node-depressed:focus {
	color:#bbb;
	outline: none !important;
}

.node-depressed:hover {
	color:#bbb;
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}

.node-depressed:visited {
	color:#bbb;
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}

.node-depressed:active {
	color:#bbb;
	box-shadow: 0 0 #ccc;
	top: 8px;
	outline: none ;
}

.node-depressed:active,
.node-depressed.active {
	box-shadow: 0 4px #ccc;
	top: 2px;
	outline: none;
}


.action_button_container{
	flex-shrink: 0;
  padding-top: 30px;
	padding-right: 15px;
	padding-bottom: 55px;
}

.settings-page{
	flex: 1 0 auto;
}

.modal_action_button{
    margin-bottom: 30px !important;
    margin-right: 15px !important;
	padding:0px;
}
.page_modal .dialogue-close{
  background-color: #f4f4f8;
}

.browser_viewport_container{
  position: relative;
  height: 100% !important;
  width: 100%;
  max-width: calc((16 / 9) *  100vh);
}

.browser_viewport{
  box-shadow: inset 1vh 1vh 10vh 0 rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}
.browser_view{
  height: 100%;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.browser_view > img{
  height: 100%;
  max-width: auto;
  width: auto;
  
}
.toggle-arrow{
  font-size: 44px;
  color: #6649e4;
  width: 74px;
  padding: 0px 15px;
}
.toggle-arrow:focus,
.toggle-arrow.focus {
  color: #553fc0;
}
.toggle-arrow:hover {
  color: #553fc0;
}
.toggle-arrow:active,
.toggle-arrow.active,
.open > .dropdown-toggle.btn--primary {
  color: #553fc0;
}
