/* Individual tab styles */



/*****************************/
/* Moving Line */
/*****************************/

.tabs-style-linemove nav {
	background: #fff;
}






/* Move the line

.tabs-style-linemove nav li:first-child::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #553fc0;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.tabs-style-linemove nav li:nth-child.tab-current ~ li:first-child::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:first-child::after {
	-webkit-transform: translate3d(200%,0,0);
	transform: translate3d(200%,0,0);
}

.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:first-child::after {
	-webkit-transform: translate3d(300%,0,0);
	transform: translate3d(300%,0,0);
}

.tabs-style-linemove nav li.tab-current {
	color: #553fc0;
	-webkit-transform: translate3d(0,8px,0);
	transform: translate3d(0,8px,0);
}

*/

.tabs-style a{
	text-decoration: none;
	color: #757575;
	text-align: center !important;
	padding: 5px 0px 3px 0px;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
	border-bottom: 3px solid #eee;
}

.tabs-style-linemove > nav > ul {
	margin-bottom: 0px;
}

.element-tabs{
	margin-top:15px;
}

.tabs-style a:focus{
	color: #4548c1  !important;
	border-bottom: 3px solid #4548c1;
}
.tabs-style a:visited{
	color: #553fc0  !important;
	border-bottom: 3px solid #4548c1;
}
.tabs-style a:hover {
	border-bottom: 3px solid #4548c1;
	color: #553fc0  !important;
}

.tabs-style a:active {
	border-bottom: 3px solid #553fc0 !important;
	color: #553fc0 !important;
}


.tabs-style a:active h5{
	color: #553fc0 !important;
}


.tabs-style_active a {
	border-bottom: 3px solid #553fc0  !important;
}

.tabs-style_active h5{
	color: #553fc0 !important;
}

.tabs-style a:hover h5{
	color: #553fc0 !important;
}























.browser_tabs:after,
.browser_tabs:before {
  content:"";
  display: table;
} 
.browser_tabs:after {
  clear:both;
  overflow:hidden;
}
.browser_tabs {
  zoom: 1;
}
.browser_tabs li {
  list-style: none outside none;
  float: left;
  position: relative !important;/*This is very important*/
}
.tabs-style2_active {
  z-index: 3 !important;/*The current item is at the top*/
}
.browser_tabs li:before,
.browser_tabs li:after,
.browser_tabs  a:before,
.browser_tabs  a:after {
  content:"";
  position: absolute;
  top:0;

}
.browser_tabs li:before,
.browser_tabs li:after {
  background: #fff; /*shows*/
  width: 5px;
  height: 5px;
}
.browser_tabs li:after {
  left: 0px;
	background: #553fc0; /*shows*/
}
.browser_tabs li:before {
  right: 0px;
	background: #553fc0; /*shows*/
}


.browser_tabs li:last-child:after {
	background-color: #fff !important;
}

.browser_tabs li:first-child:before {
	background-color: #fff !important;
}


.tabs-style2 a{
	text-align: center;
	color: #fff;
	padding: 5px 0 5px 0;
	font-size: 18px;
	line-height: 20px;
	font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:400;
}



.tabs-style2 {
	background-color: #553fc0;
	text-decoration: none;
	color: #a09dd7;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
}

.tabs-style2 h5 {
	margin-bottom: 2px;
}

.tabs-style2 :focus{
	color: #a09dd7;
}
.tabs-style2 :visited{
	color: #a09dd7;
}

.tabs-style2 :hover {
	border-radius: 0 0 5px 5px;
	color: #fff !important;
}
.tabs-style2_active {
	
	border-radius: 0 0 5px 5px;
	background-color: #ffffff;
	color: #553fc0 !important;
}

.tabs-style2_active h5{
	color: #553fc0 !important;
}

.tabs-style2_active :hover {
	background-color: #ffffff;
	color: #553fc0 !important;
}






.browser_tabs  a:before,
.browser_tabs  a:after {
  width: 10px;
  height: 10px;
  border-radius: 5px  !important;
  background: #553fc0;
  z-index: 2 !important;/*Round above the rectangle*/
}
.tabs-style2_active a:before,
.tabs-style2_active a:after {
  background: #fff; 
}
.browser_tabs  a:before {
  left:0px; 
}
.browser_tabs  a:after {
  right: 0px;
}

.tabs-style2_active:before,
.tabs-style2_active:after {
  z-index: 1  !important;/*shows The rectangle of the current item is below the circle*/
  background: #fff !important;
}


