/* Individual tab styles */



/*****************************/
/* Moving Line */
/*****************************/

.tabs-style-linemove nav {
	background: #fff;
}






/* Move the line

.tabs-style-linemove nav li:first-child::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #2b2e93;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.tabs-style-linemove nav li:nth-child.tab-current ~ li:first-child::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:first-child::after {
	-webkit-transform: translate3d(200%,0,0);
	transform: translate3d(200%,0,0);
}

.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:first-child::after {
	-webkit-transform: translate3d(300%,0,0);
	transform: translate3d(300%,0,0);
}

.tabs-style-linemove nav li.tab-current {
	color: #2b2e93;
	-webkit-transform: translate3d(0,8px,0);
	transform: translate3d(0,8px,0);
}

*/

.tabs-style {
	text-decoration: none;
	color: #757575;
	padding: 10px 0 0px 0;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
}

.tabs-style-linemove > nav > ul {
	margin-bottom: 0px;
}

.test_tab_icons{
	border-bottom: none !important;
	text-decoration: none !important;
	margin-bottom: -13px;
}

.element-tabs{
	margin-top:20px;
}

.tabs-style :focus{
	color: #2b2e93;
}
.tabs-style :visited{
	color: #757575;
}
.tabs-style :hover {
	padding-bottom:15px;
	margin-bottom: -15px;
	border-bottom: 3px solid #4548c1;
	color: #2b2e93;
}
.tabs-style_active {
	padding-bottom:15px;
	margin-bottom: -15px;
	border-bottom: 3px solid #2b2e93;
	color: #2b2e93;
	
}



