/*--------------------------- [6. Test/Test Container/Test Labels] --------------------------------------------------------------------------------*/


.test{
	background-color: #ffffff;
	border-top: 0px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.test-container{
  margin:0px 0px;
	background-color: #ffffff;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
    overflow-y:scroll;
	height: -moz-calc(100% - 90px);
  /* WebKit */
  height: -webkit-calc(100% - 90px);
  /* Opera */
  height: -o-calc(100% - 90px);
  /* Standard */
  height: calc(100% - 90px);
	margin-bottom: 90px !important;
}

.full__height{
	height: -moz-calc(100% - 90px);
  /* WebKit */
  height: -webkit-calc(100% - 90px);
  /* Opera */
  height: -o-calc(100% - 90px);
  /* Standard */
  height: calc(100% - 90px);
	padding-bottom: 15px !important;
}

.test-labels{
	padding-top: 20px;
	padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
	height: 60px;
}

.test-labels{
  width: -moz-calc(100% - 15px);
  /* WebKit */
  width: -webkit-calc(100% - 15px);
  /* Opera */
  width: -o-calc(100% - 15px);
  /* Standard */
  width: calc(100% - 15px);
	 left: 15px;
}

.empty__state{
  height: 100%;
	text-align: center;
}

/*--------------------------- [6. Test Profile] --------------------------------------------------------------------------------*/


/*-------break this down for each data point,correct,incorrect---------*/
.test__profile{
	padding-top: 0px;
	padding-bottom: 0px;
	height: 60px;
	width: 100%;
}

.test__profile > div{
	display: inline;
}

.status__title{
  text-align: center !important;
}

.test__title{
  text-align: left;
}

.browser-icon {
  width: 25px;
  height: 25px;
}

.title__edit__buttons{
  margin: 0px 0px 0px 5px;
  display: inline-block;
  height: 30px;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

.title__edit{
    border-radius: 4px !important;
    width:100% !important;
    margin-left: 15px;
}


.edithover{
  text-align: right !important;
  position:relative;
  padding-left: 15px;
  right:0px;
}

.test__profile {
  color: #424242;
  background-color: #ffffff;
}

.test__profile:focus,
.test__profile.focus {
	outline:none;
  background-color: #fafafa;
}
.test__profile:hover {
  background-color: #fafafa;
}
.test__profile:active,
.test__profile.active {
  background-color: #fafafa;
}

.test__btns{
	float: right !important;
}

.test__btns > .btn-group{
	float: right !important;
}


/*--------------------------- [6. Test Status] --------------------------------------------------------------------------------*/
.status{
	color: #ffffff !important;
	font-size: 12px;
	height:60px;
  border-right: 1px solid #fafafa;
	text-align: center;
}

.status--symbol{
	font-size: 30px !important;
}

.test__status{
	text-align: center;
}

/*--------------------------- [6. Test Path] --------------------------------------------------------------------------------*/

.test__path{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding-left: 15px;
	height: 135px;
	-webkit-box-shadow: inset 0 10px 6px -8px #e7e7e7;
		 -moz-box-shadow: inset 0 10px 6px -8px #e7e7e7;
					box-shadow: inset 0 10px 6px -8px #e7e7e7;
}

.page__image{
    padding: 10px 10px 6px 0px !important;
}

.path-node-image {
  vertical-align: middle;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.path-bar .display_none_right{
  display: none !important;
}

.path-page {
    padding: 10px 10px -10px 0px !important;
}

.path-node-container {
  height: 100%;
  width:  90px;
  float: left;
}

.page-container {
  height: auto !important;
  float: left;
}

.path-node {
  height: 90px;
  width:  60px;
  float: left;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.path-node {
  color: #424242;
    border: 1px solid #ffffff;
}

.path-node:focus,
.path-node.focus {
	outline:none;
    border: 2px solid #ffee58;
}
.path-node:hover {
  border: 2px solid #ffee58;
}
.path-node:active,
.path-node.active {
  border: 2px solid #ffee58;
}

.path-element {
	height: 60px !important;
	border: 1px solid #eeeeee;
  padding:8px;
}

.path-action {
	height: 60px !important;
	border: 1px solid #eeeeee;
  border-radius: 50%;
  padding:8px;
}

.path-bar{
  vertical-align: top;
  height: 1%;
  width: 30px;
  float: left;
	border-bottom: 1px solid #eeeeee;
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*--------------------------- [6. Test Groups] --------------------------------------------------------------------------------*/

.test__groups{
	padding:30px 15px 30px 15px;
	background-color:#f9f9f9;
	height: 100%;
	border-left: 1px solid #e0e0e0;
}

.groups_input_padding{
	padding:5px 0px 15px 0px;
}

.input-group-addon{
  width:35px;
}

.test__groups > div{
	display: inline;
}

.remove__group{
  padding-left: 6px;
}

.group__tag{
  margin-right: 15px;
  display: inline-block;
  height: 30px;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffee58;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}


/*--------------------------- [?. Tabs] --------------------------------------------------------------------------------*/


.info__title{
  height: 30px !important;
  padding: 15px !important;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.info__tab {
}

/*****************************/
/* Top Line */
/*****************************/

.tabs-style-topline {
}

.tabs-style-topline nav li {
	border-bottom: 1px solid #e0e0e0;
}

.tabs-style-topline nav li.tab-current {
	border-bottom: none;
}

.tabs-style-topline nav div.tab {
	padding: 20px 20px 10px 20px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
  color:#757575;
  font-size: 16px;
  font-weight:400;
  letter-spacing:.1px;
  text-align: center;
  margin-bottom: 0px;
  text-transform: capitalize;
}


.tabs-style-topline nav div.tab:hover,
.tabs-style-topline nav div.tab:focus {
	color: #2d2d2d;
  font-weight: 400;
}

.tabs-style-topline nav li.tab-current div.tab {
	background: none;
	box-shadow: inset 0 3px 0 #ffee58;
	color: #2d2d2d !important;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

.tabs-style-topline .icon::before {
	display: block;
	margin: 0;
}

.tabs-style-topline nav div.tab span {
	text-transform: uppercase;
}

.node__data{
  display: inline-block !important;
  padding:20px 20px 10px 20px;
  width:100%;
}

.tab__icon{
  line-height: 1.0em;
  padding: 3px 0px 0px 0px;
  font-size: 1.5em;
}



/*--------------------------- [6. Test Info] --------------------------------------------------------------------------------*/


.test__info{
}



.node__title{
  padding-bottom:15px;
  margin-bottom:10px;
	border-bottom: 1px solid #e0e0e0;
  width:100% !important;
}

.key--value {
    padding-top:10px;
}

.data__key{
	text-transform: capitalize;
	font-size: 16px;
  font-weight: bold;
	line-height: 20px;
	letter-spacing:.1px;
	padding-bottom: 6px !important;
	color:#666666;
	text-align: left;
}

.data__value{
		font-size: 14px !important;
		line-height: 20px;
		letter-spacing:.1px;
		padding-bottom: 6px !important;
		color:#333333;
}


/*--------------------------- [6. Test History] --------------------------------------------------------------------------------*/


.test__history{
	font-size: 14px !important;
	line-height: 20px;
	letter-spacing:.1px;
	color:#333333;
  padding:20px 20px;
	border-top: 1px solid #e0e0e0;
  width:100%;
}

.test__history__frame{
	border-bottom: 1px solid #e0e0e0;
					-webkit-box-shadow: inset 0 -10px 6px -8px #e7e7e7;
						 -moz-box-shadow: inset 0 -10px 6px -8px #e7e7e7;
									box-shadow: inset 0 -10px 6px -8px #e7e7e7;
}
