<div class="offset-sm-2 col-sm-8">
	<h2 class="modal__title">
		User Settings
	</h2>
  
	<div class="form_label_description">
			<h6>Email Address</h6>
			{{ profile.email }}
	</div>
	<br>
	<div class="form_label_description accounts">
		<h6>Deactivate your user account</h6>
		Deactivating your account will disable your profile and remove your email address from Qanairy, but it will not remove any information related to your domain. For questions please contact <a href="mailto:support@qanairy.com" >support@qanairy.com</a>.
		<div class="accounts_btn">
			<button class="btn btn--primary" ng-click="deleteAccount()">
				Deactivate My Account
			</button>
		</div>
	</div>
</div>