<div class="col-xs-12 col-sm-12">
  Lorem Ipsum
</div>
<div class="col-xs-12 col-sm-12">
  A paragraph of text with an unssigned link
  <br />
  Second line
</div>
<div class="col-xs-12 col-sm-12" controller="AccountCtrl">
  <div class="col-xs-3 col-sm-3" ng-click="createAccount('alpha')">
    Plan A
    <div>
      $$$$
    </div>
    <div>
      30 Day Free Trial
    </div>
    <div>
      <ul>
        <li>
          Lorem Ipsum
        </li>
        <li>
          Lorem Ipsum
        </li>
        <li>
          Lorem Ipsum
        </li>
      </ul>
    </div>
    <button>Pay Now</button>
    <a href="#">Learn More</a>
  </div>
  <div class="col-xs-3 col-sm-3" >
    Plan B
    <div>
      $$$$
    </div>
    <div>
      30 Day Free Trial
    </div>
    <div>
      <ul>
        <li>
          Lorem Ipsum
        </li>
        <li>
          Lorem Ipsum
        </li>
        <li>
          Lorem Ipsum
        </li>
      </ul>
    </div>
    <button>Pay Now</button>
    <a href="#">Learn More</a>
  </div>
  <div class="col-xs-3 col-sm-3" >
    Plan C
    <div>
      $$$$
    </div>
    <div>
      30 Day Free Trial
    </div>
    <div>
      <ul>
        <li>
          Lorem Ipsum
        </li>
        <li>
          Lorem Ipsum
        </li>
        <li>
          Lorem Ipsum
        </li>
      </ul>
    </div>
    <button>Pay Now</button>
    <a href="#">Learn More</a>
  </div>
</div>
<div >
  Still not sure which plan is right for you?
  <a href="#">Compare features</a>
</div>
