<div class="standard-container">
	<div class="error__message" ng-repeat="error in errors track by $index">
		{{error.message}}
	</div>

  <h1><b>Performance</b></h1>

  <div class="row" ng-repeat="audit in insight.audits | filter:{type:'PERFORMANCE', scoreDisplayMode: '!informative'}" style="position: relative; display: flex;" ng-if="audit.scoreDisplayMode !== 'notApplicable' && audit.scoreDisplayMode !== 'manual'">
  	<div class="col-sm-12 test" >
      <div class="col-sm-1 insight-audit" ng-if="audit.scoreDisplayMode === 'binary'">
        <div class="insight-percent">
          <span ng-show="audit.score == 1">
            <i class="fa fa-check-circle green status--symbol"></i>
          </span>
          <span ng-show="audit.score == 0">
            <i  class="fa fa-times-circle red status--symbol"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-1 insight-audit" ng-if="audit.scoreDisplayMode !== 'binary' && audit.scoreDisplayMode !== 'informative'">
        <md-progress-circular ng-class="getColorClass(audit.score)" class="insight-progress" md-mode="determinate" value="{{audit.score*100}}" ></md-progress-circular>
        <div class="insight-percent">
          {{audit.score*100 || 0 | number:0 }}%
        </div>
      </div>

      <div class="col-sm-7 insight-audit vertical__left" >
        {{audit.title}}
      </div>

      <div class="col-sm-3 insight-audit vertical__left">
        {{audit.displayValue}}
  		</div>

      <div class="col-sm-1 insight-audit vertical__center" >
        <i class="fas fa-tachometer-alt fa-2x" ng-if="audit.type==='PERFORMANCE'"></i>
        <i class="fal fa-universal-access fa-2x" ng-if="audit.type==='ACCESSIBILITY'"></i>
      </div>
  	</div>

    <div class="col-sm-12 audit-details-container">
      <div class="col-sm-12"  >
       {{audit.description}}
      </div>
      <div class="col-sm-12">
        <div ng-repeat="header in audit.details.headers track by $index">
            <b><u>{{ header }}</u></b>
        </div>
        <div ng-repeat="item in audit.details track by $index" ng-class-even="'even'" ng-class-odd="'odd'">

          <div ng-if="audit.name === 'font-display' || audit.name === 'render-blocking-resources'">
            <div class="col-sm-9">
              {{item.url}}
            </div>
            <div class="col-sm-2 pull-right">
              {{item.wastedMs | number:0}} ms
            </div>
            <div ng-if="item.wastedBytes" class="col-sm-1 pull-right">
              {{formatBytes(item.wastedBytes)}}
            </div>
            <div ng-if="!item.wastedBytes" class="col-sm-1">
            </div>
          </div>

          <div ng-if="audit.name === 'unminified-css' || audit.name === 'unused-css-rules' || audit.name === 'uses-responsive-images'">
            <div class="col-sm-6">
              {{item.url}}
            </div>
            <div class="col-sm-2 pull-left">
              {{formatBytes(item.wastedBytes)}}
            </div>
            <div class="col-sm-2 pull-right">
              {{item.wastedPercent | number:0}} % wasted
            </div>
            <div class="col-sm-2 pull-right">
              {{formatBytes(item.totalBytes)}}
            </div>
          </div>

          <div ng-if="audit.name === 'uses-long-cache-ttl'">
            <div class="col-sm-8">
              {{item.url}}
            </div>
            <div class="col-sm-1 pull-left">
              {{formatBytes(item.wastedBytes)}}
            </div>
            <div class="col-sm-1 pull-left">
              {{formatBytes(item.totalBytes)}}
            </div>
            <div class="col-sm-1 pull-left">
              {{item.cacheLifetimeMs | number:0}}
            </div>
            <div class="col-sm-1 pull-right">
              {{item.cacheHitProbability*100 | number:0}} %
            </div>
          </div>

          <div ng-if="audit.name === 'dom-size'">
            <div class="col-sm-9">
              {{item.statistic}}
            </div>
            <div class="col-sm-3 pull-left">
              {{item.value}}
            </div>
          </div>

          <div ng-if="audit.name === 'total-byte-weight'">
            <div class="col-sm-10">
              {{item.url}}
            </div>
            <div class="col-sm-2 pull-left">
              {{formatBytes(item.totalBytes)}}
            </div>
          </div>

          <div ng-if="audit.name === 'uses-webp-images'">
            <div class="col-sm-7">
              {{item.url}}
            </div>
            <div class="col-sm-2 pull-left">
              {{formatBytes(item.wastedBytes)}}
            </div>
            <div class="col-sm-2 pull-left">
              {{formatBytes(item.totalBytes)}}
            </div>
            <div class="col-sm-1 pull-left">
              {{item.isCrossOrigin}}
            </div>
          </div>

          <div ng-if="audit.name === 'third-party-summary'">
            <div class="col-sm-6">
              <a href="{{item.entity.url}}" target="_blank">{{item.entity.text}}</a>
            </div>
            <div class="col-sm-2 pull-left">
              {{item.mainThreadTime | number:0}} ms
            </div>
            <div class="col-sm-2 pull-left">
              {{item.blockingTime | number:0}} ms
            </div>
            <div class="col-sm-2 pull-left">
              {{formatBytes(item.transferSize)}}
            </div>
          </div>

          <div ng-if="audit.name === 'bootup-time'">
            <div class="col-sm-6">
              {{item.url}}
            </div>
            <div class="col-sm-2 pull-left">
              {{item.scriptLoadTime | number:1}} ms
            </div>
            <div class="col-sm-2 pull-left">
              {{item.scriptParseTime | number:1}} ms
            </div>
            <div class="col-sm-2 pull-left">
              {{item.totalTime | number:1}} ms
            </div>
          </div>

          <div ng-if="audit.name === 'mainthread-work-breakdown'">
            <div class="col-sm-10">
              {{item.groupLabel}}
            </div>
            <div class="col-sm-2 pull-left">
              {{item.duration | number:0}} ms
            </div>
          </div>


          <div ng-if="audit.name != 'dom-size' && audit.name != 'bootup-time' && audit.name != 'font-display' && audit.name != 'unminified-css' && audit.name != 'unused-css-rules' && audit.name != 'uses-long-cache-ttl' && audit.name != 'total-byte-weight' && audit.name != 'uses-responsive-images' && audit.name != 'render-blocking-resources' && audit.name != 'uses-webp-images' && audit.name != 'mainthread-work-breakdown' &&  audit.name != 'third-party-summary'">
            <div ng-repeat="(key, value) in item track by $index">
              {{key}} : {{value}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h1><b>Accessibility</b></h1>
  <div class="row" ng-repeat="audit in insight.audits | filter:{type:'ACCESSIBILITY'}" style="position: relative; display: flex;" ng-if="audit.scoreDisplayMode !== 'notApplicable' && audit.scoreDisplayMode !== 'manual'">
  	<div class="col-sm-12 test" >
      <div class="col-sm-1 insight-audit" ng-if="audit.scoreDisplayMode === 'binary'">
        <div class="insight-percent">
          <span ng-show="audit.score == 1">
            <i class="fa fa-check-circle green status--symbol"></i>
          </span>
          <span ng-show="audit.score == 0">
            <i  class="fa fa-times-circle red status--symbol"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-1 insight-audit" ng-if="audit.scoreDisplayMode !== 'binary' && audit.scoreDisplayMode !== 'informative'">
        <md-progress-circular  class="insight-progress" md-mode="determinate" value="{{audit.score*100}}" ></md-progress-circular>
        <div class="insight-percent">
          {{audit.score*100 || 0 | number:0 }}%
        </div>
      </div>
      <div class="col-sm-1 insight-audit" ng-if="audit.scoreDisplayMode === 'informative'">
        <i class="far fa-info-circle fa-3x insight-percent"></i>
      </div>

      <div class="col-sm-5 insight-audit vertical__left" >
        {{audit.title}}
      </div>

      <div class="col-sm-5 insight-audit vertical__left">
        {{audit.displayValue}}
  		</div>

      <div class="col-sm-1 insight-audit vertical__center" >
        <i class="fas fa-tachometer-alt fa-2x" ng-if="audit.type==='PERFORMANCE'"></i>
        <i class="fal fa-universal-access fa-2x" ng-if="audit.type==='ACCESSIBILITY'"></i>
      </div>
  	</div>

    <div class="col-sm-12 audit-details-container">
      <div class="col-sm-12"  >
       {{audit.description}}
      </div>
      <div class="col-sm-12">
        <div ng-repeat="header in audit.details.headers track by $index">
            <b><u>{{ header }}</u></b>
        </div>
        <div ng-repeat="item in audit.details track by $index" ng-class-even="'even'" ng-class-odd="'odd'">
          <div>
            <div class="col-sm-4">
              <img src="{{item.element.screenshot}}" style="height:50px"/>
            </div>
            <div class="col-sm-8">
              {{item.element.xpath}}
            </div>
          </div>
          <div ng-repeat="message in item.optionalChangeMessages" class="col-sm-12">
            {{message}}
          </div>
          <div ng-repeat="message in item.requiredChangeMessages" class="col-sm-12">
            {{message}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
