<div class="standard-container">
	<div class="error__message" ng-repeat="error in errors track by $index">
		{{error.message}}
	</div>
	<div class="row test" ng-repeat="audit in insight.audits track by $index" style="position: relative; display: flex;">
    <div class="col-sm-2" >
      {{audit.score}}
    </div>
    <div class="col-sm-7" >
     {{audit.id}}
    </div>

    <div class="col-sm-3">
      {{audit.displayValue}}
		</div>
	</div>

  <div ng-show="false">
    <div class="col-sm-7" >
     {{audit.title}}
    </div>
    <div >
      {{audit.details}}
    </div>
  </div>
</div>
