<p>This is the partial for view 1.</p>
<form ng-submit="startMappingProcess(workAllocation)"
      enctype="multipart/form-data"
      ng-init="workAllocation = {}"
      novalidate>
  <input type="text"
         ng-model="workAllocation.url"
         placeholder="URL (eg. http://localhost:8080)" />
  <button type="submit">Start Crawl</button>
</form>

<div>
  <div ng-repeat="path in paths">
    <div style="{{path.useful ? 'background:green' : 'background:red'}}">
      <div ng-show="path.useful">Success</div>
      <div ng-show="!path.useful">Failure</div>
      <div ng-repeat="node in path.vertexPath">
        <i class="fa fa-globe" ng-show="node.url" uib-tooltip="{{node.url}}"></i>
        <div>
          <i class="fa fa-list-alt" ng-show="node.xpath" uib-tooltip="node.xpath"></i>
          <i class="fa fa-mouse-pointer" ng-show="node.xpath" uib-tooltip="click"></i>
        </div>
      </div>

      Correct?
      <i class="fa fa-check" ></i>
      <i class="fa fa-circle" ></i>

    </div>
    <div >
      ELEMENT
      <div>
        xpath : {{path.path[1].xpath}}
      </div>
      css :
      <div ng-repeat="(key, value) in path.path[1].cssProperties">
          {{key}} :           {{value}}
      </div>
      <div>
        attributes
        <div ng-repeat="(key, value) in path.path[1].attributes">
          {{key}} :           {{value}}
        </div>
      </div>
    </div>
    <div >
      URL : {{path.path[0].url}}
      <img ng-src="path[0].screenshot"/>
    </div>
  </div>
</div>
