<div ng-click="previous()" class="col-md-1">
  <i class="fas toggle-arrow fa-chevron-circle-left"></i>
</div>
<div class="col-md-10" >
  <div ng-repeat="page_interaction in path track by $index"
       ng-init="page_idx = $index"
       ng-show="pathIdx == $index"
       class="page_modal_image"
       id="{{'interaction'+$index}}"
       style="position:relative">
    <div ng-repeat="url in page_interaction.page.imageUrls track by $index"
        ng-init="redirect_idx = $index"
        ng-show="pathIdx == $index && page_interaction.page_key.includes('redirect') "
        class="page_modal_image"
        id="{{'redirect'+page_idx+$index}}"
        style="position:relative">
      <img src="{{url}}"
           ng-click="openPathSlider(path)" />
       <div class="expand path-node-image" data-toggle="modal" data-target="#exampleModal"
             ng-click="openPathSlider(path)">
         <h6>
           Expand&nbsp;&nbsp;<i class="fa fa-plus fa-1x"></i>
         </h6>
       </div>
    </div>
    <div ng-repeat="url in page_interaction.page.imageUrls track by $index"
        ng-init="redirect_idx = $index"
        ng-show="pathIdx == $index && page_interaction.page_key.includes('PageLoadAnimation') "
        class="page_modal_image"
        id="{{'redirect'+page_idx+$index}}"
        style="position:relative">
      <img src="{{url}}"
           ng-click="openPathSlider(path)" />
      <div class="expand path-node-image" data-toggle="modal" data-target="#exampleModal"
            ng-click="openPathSlider(path)">
        <h6>
          Expand&nbsp;&nbsp;<i class="fa fa-plus fa-1x"></i>
        </h6>
      </div>
    </div>
    <div ng-show="page_interaction.page_key.includes('pagestate')">
     <img src="{{page_interaction.page.screenshotUrl}}"
          ng-click="openPathSlider(path)"/>
      <div class="expand path-node-image" data-toggle="modal" data-target="#exampleModal"
            ng-click="openPathSlider(path)">
        <h6>
          Expand&nbsp;&nbsp;<i class="fa fa-plus fa-1x"></i>
        </h6>
      </div>
     <div ng-repeat="interaction in page_interaction.interactions track by $index"
          id="{{'element-outline'+page_idx+$index}}"
          class="element__outline"
          style="top: {{interaction.outline.top}}px;left: {{interaction.outline.left}}px; width: {{interaction.outline.width}}px; height:{{interaction.outline.height}}px">
     </div>
   </div>
  </div>
</div>
<div ng-click="next()" class="col-md-1">
  <i class="fas toggle-arrow fa-chevron-circle-right"></i>
</div>
