<div class="standard-container">


<div class="col-sm-12">
	<div class="row">
    <div id="pro_package" class="package equal-height-container col-md-12 col-lg-4">
      <div class="planframe equal-height">
        <h1 class="mb-2 mt-2 text-center">Starter</h1>
				<h3 class=" dashboard__stats text-center">$0</h3>
  			<div class="mb-4" style="flex-grow: 1;">
          <ul class="fa-ul pricing-list">
            <li style="list-style-type: none;"><i class="green pr-2  fa fa-check"></i>20 Generated Tests</li>
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>50 Test Runs</li>
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>Email support</li>
          </ul>
        </div>
        <button class="btn btn--primary" ng-click="getFreeAccess()" ng-disabled="current_plan=='FREE'">
          {{current_plan=='FREE' ? "Current Plan" : "Select Plan"  }}
        </button>
      </div>
    </div>
    <div id="pro_package" class="package equal-height-container col-md-12 col-lg-4">
  		<div class="planframe equal-height">
  			<h1 class="mb-2 mt-2 text-center">Basic</h1>
				<h3 class=" dashboard__stats text-center">$99</h3>
  			<div class="mb-4" style="flex-grow: 1;">
          <ul class="fa-ul pricing-list">
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>250 Generated Tests</li>
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>500 Test Runs</li>
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>Auto Auth Testing</li>
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>Email support</li>
          </ul>
        </div>
        <button class="btn btn--primary" ng-click="updateSubscription('Basic')" ng-disabled="current_plan=='PRO'">
          {{current_plan=='PRO' ? "Current Plan" : "Select Plan"  }}
        </button>
  		</div>
    </div>
    <div id="enterprise_package" class="package equal-height-container col-md-12 col-lg-4">
  		<div class="planframe equal-height ">
  			<h1 class="mb-2 mt-2 text-center">Premium</h1>
    				<h3 class=" dashboard__stats text-center" style="font-size: 32px;">Contact Us</h3>
      			<div class="mb-4" style="flex-grow: 1;">
          <ul class="fa-ul pricing-list">
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>Unlimited Generated Tests</li>
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>Unlimited Test Runs</li>
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>Auto Auth Testing</li>
            <li style="list-style-type: none;"><i class="green pr-2 fa fa-check"></i>24/7 phone support</li>
          </ul>
        </div>
        <a href="mailto:qanairy@qanairy.com?&subject=Qanairy%20Premium%20Plan%20Upgrade&body=Hi%20Qanairy,%0d%0dI%20would%20like%20to%20request%20a%20quote.%20Please%20have%20a%20sales%20representative%20reach%20out%20to%20me.%20Here%20are%20my%20details.%0d%0dName:%0d%0dPhone%20Number:%0d%0dCompany%20Name:%0d%0dCompany%20Website:%0d%0dNumber%20of%20employees%20dedicated%20to%20QA:%0d%0dMy%20product/service%20has%20a%20website,%20mobile%20site,%20web%20app,%20mobile%20app.%20Include%20all%20that%20apply:" rel="EMAIL"><button class=" align-middle btn btn--primary">
        Request A Quote
       </button></a>
     </div>
   </div>
	</div>
