<!-- Page Content -->
<div>
  <div id="nav-bar" class="main-container container-fluid content ">
    <div id="main-nav" class="vertical__center__int">
		  <div class="col-lg-5 col-md-5">
          <div class="left-main-nav main-nav">
            <div class="flex-none">
              <div class="brand">
          		  <img src="./img/qanairy_logo.png" />&nbsp;&nbsp;<span>Beta</span>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-7 offset-lg-1" ng-show="auth.isAuthenticated">
        <div class="right-main-nav main-nav">
          <div class="domain-link dropdown pull-right">
              <div class="dropdown-toggle" data-toggle="dropdown" id="domainsDropdownMenuButton"  dropdown-toggle>
                {{domain.url || "www.yourdomain.com"}}
                <i class="fa fa-caret-down fa-fw"></i>
              </div>
              <ul class="dropdown-menu" aria-labelledby="domainsDropdownMenuButton">
                <li class="dropdown-item" ng-repeat="domain_item in domain_list" ng-if="domain_item.url != domain.url">
                  {{domain_item.url}}
                </li>
                <li class="dropdown-item" ng-click="showDomainsPage()">
                    Manage Domains
                </li>
              </ul>
          </div>
          <div class="divider"></div>
          <div class="flex-initial main-nav-link" id="notification_li">
            <a href="#/tests" id="notificationLink" style="{{$location.path() == '/tests' ? 'color: #fddb4e;' : 'color:#ffffff'}}">
              <i class="fa fa-list-ul main-nav-icons" aria-hidden="true"></i>
              Tests
              <span id="notification_count" ng-show="approved_test_cnt">
                {{approved_test_cnt}}
              </span>
            </a>
          </div>
          <div class="flex-initial main-nav-link">
            <a href="#/discovery"  style="{{$location.path() == '/discovery' ? 'color: #fddb4e;' : 'color:#ffffff'}}">
              <i class="fa fa-map-o main-nav-icons" aria-hidden="true"></i>
              Discovery
            </a>
          </div>
          <div class="divider"></div>
          <div class="flex-none user_settings dropdown pull-right">
              <div class="dropdown-toggle" id="userDropdownMenuButton" dropdown-toggle  data-toggle="dropdown">
                <i class="fa fa-user fa-fw"></i>
              </div>
              <ul class="dropdown-menu" aria-labelledby="userDropdownMenuButton">
                <li class="dropdown-item" ui-sref="main.account">
                  <i class="fa fa-user"></i>
                  User Settings
                </li>
                <li class="horizontal-divider"></li>
                <li class="dropdown-item" ng-click="logout()">
                  <i class="fa fa-sign-out"></i>
                  Logout
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div ui-view class="full__height">
    </div>
  </div>
</div>
<!-- not sure where to put this, need to set it up so that it removes itself when tests is clicked on
  <script type="text/javascript">
    $(document).ready(function(){
      $("#notificationLink").click(function(){
        $("#notification_count").fadeOut("slow");
        return false;
      });
    });
  </script>
-->
