<div class="error__message" ng-repeat="error in errors track by $index">
	{{error.message}}
</div>

<div class="content">

		<div class="secondary-nav vertical__center__int" >
			<div class="flex-auto">
				<div class="col-sm-12" ng-show="!isStarted" >
					<button class="btn btn--primary pull-left" ng-click="createUser()" id="start_discovery_button">
					Create User
				</button>
				</div>
			</div>
		</div>

    <div class="test-labels-container">
      <div class="test-labels">
        <div class="flex-auto test_functions">
          Username
        </div>
				<div class="flex-initial date_stats text-left">
          Role
        </div>
        <div class="flex-initial date_stats text-left">
          Enabled/Disabled
        </div>
        <div class="flex-initial date_stats text-right">
          Date Created
        </div>
        <div class="flex-none edit_delete_functions">
				</div>
      </div>
    </div>


		<div class="test-container">

    <div class="empty__state vertical__center_empty_state_busy" ng-show="users.length == 0">
      <div>
      <br><br>
        <h2>No users have been created yet. Click 'Create User' to get started </h2>
      </div>
    </div>



    <div class="test"
         ng-repeat="user in (filteredUsers = users) | filter:searchText track by $index"
         ng-show="users.length > 0">
      <div class="test__profile vertical__left__profile">
        <div class="flex-auto test__title test_functions test__profile_stretch">
          <div class="">
            <h5 class="test__title">
               {{user.username || "User #"+($index+1)}}
             </h5>
          </div>
        </div>

				<div class="flex-initial date_stats text-left test__profile_stretch" >
          {{user.role  || "Unknown"}}
        </div>
        <div class="flex-initial date_stats text-left test__profile_stretch" >
          <toggle id="test_user_status" ng-model="user.enabled" ng-change="changed()" on="Enabled" off="Disabled"></toggle>
        </div>
        <div class="flex-initial date_stats text-right test__profile_stretch" >
          {{( user.dateCreated | date : 'MM/dd/yy h:mm a')  || "Unknown"}}
        </div>
        <div class="flex-none edit_delete_functions text-right test__btns" aria-label="User Functions">
           <button class="btn btn--tertiary margin_fifteen_right" ng-click="editUser(user)" >
              <i class="fa fa-pencil"></i>
           </button>
           <button class="btn btn--tertiary" ng-click="askDelete(user, $index)">
             <i class="fa fa-trash"></i>
           </button>
         </div>
       </div>
    </div>
  </div>
</div>
