

<div class="sticky-footer-container">
	<div class="col-sm-12 settings-page">
		<div class="row">
	    <div class="col-sm-12 col-xs-12">
        <h2 class="settings__title">
		      Form Settings
        </h2>
        <div class="settings_description">
		      Qanairy tests all of your text&nbsp;input&nbsp;fields, radio buttons, checkboxes, and&nbsp;dropdowns.
        </div>
		  </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="row">
          <div class ="col-12 col-sm-10 col-md-8 col-lg-12 col-xl-10  form_molecule" >
              <div class="form_label_description_domain">
                 <h6>Form Title</h6>
              </div>
              <div class ="domain-dialogue-input" >
                <div>
                   <input type="text" class="form-control" id="form_type" ng-model="form.name"/>
                </div>
              </div>
          </div>
          <div class ="col-12 col-sm-10 col-md-8 col-lg-12 col-xl-10 form_molecule" >
              <div class="form_label_description_domain">
                 <h6>Form Type</h6>
              </div>
              <div class ="domain-dialogue-input" >
                <select class="form-control" ng-model="form.type">
                  <option ng-repeat="x in form.typeOptions"><span>{{x}}</span></option>
                </select>
              </div>
          </div>
          <div class ="col-12 col-sm-10 col-md-8 col-lg-12 col-xl-10 form_molecule" >
            <div class="form_label_description">
              <h6>Form Fields</h6>
              <div class="">
                <div class="test-labels-container">
                  <div class="test-labels">
                    <div class="flex-initial text-left">
                      Field Title
                    </div>
                    <div class="flex-initial text-left">
                      Rules
                    </div>
                    <div class="flex-none discovery_functions">
                    </div>
                  </div>
                </div>
                <div class="">
                  <div ng-repeat="element in form.formFields">
                    <div class="row no-gutters form__field__profile">
                      <div class="flex-initial text-left">
                        {{ element.name }}
                      </div>
                      <div class="flex-initial text-left">
                        <div ng-repeat="rule in element.rules">
                          {{ rule.type }}
                        </div>
                      </div>
                      <div class="flex-none discovery_functions">
                        <div class="fifteen_left" ng-click="openEditElementDialog(element)"
                             style="text-align:right !important; padding:0px; margin:0px; position: relative;" id="{{'edit_element_settings'+$index}}" >
                           <i class="fa fa-pencil domain_card_action" ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 form_label_description accounts">
        <h6>Screenshot</h6>
        <div>
          <img class="form-screenshot" ng-src="{{form.formTag.screenshot}}" />
        </div>
      </div>
    </div>
  </div>

  <div class="action_button_container text-right">
    <button class="btn btn--tertiary margin_fifteen_right title__edit__buttons" ng-click="cancel()">
      Cancel
    </button>
		<button class="btn btn--primary title__edit__buttons" ng-click="discoverTests(form)">
			<span  ng-show="form.status!='CLASSIFIED' && (!users.length && (form.type.toLowerCase()==='login' || form.type.toLowerCase()==='registration'))" >Save &amp; Add User</span>
			<span  ng-show="form.status!='CLASSIFIED' && (users.length || (form.type.toLowerCase()!=='login' && form.type.toLowerCase()!=='registration'))">Save &amp; Continue Discovery</span>
			<span  ng-show="form.status=='CLASSIFIED'">Update Form</span>
		</button>

  </div>

</div>
