<div>
  Form Settings
</div>
<div>
  Qanairy tests all of your radio buttons, checkboxes, and dropdowns. Rules only need to be set for text input fields.
</div>
<div>
  <label>Form Title</label>
  <input type="text" id="form_type" ng-model="form.name"/>
</div>

<div>
  <label>Form Type</label>
  <select >
    <option ng-model="form.type" ng-repeat="x in form.typeOptions"><span>{{x}}</span><span>{{form.prediction[$index]*100 | number:0}}%</span></option>
  </select>
  <input type="text" id="form_type" ng-model="form.type"/>
</div>
<div>
  <div>Form Fields</div>
  <div ng-repeat="element in form.formFields">
    <div>{{element}}
      <div>
        {{ element.name}}
      </div>
      <div>
        <button class="fa-pencil"></button>
        <button class="fa-times"></button>
      </div>
    </div>
    <div>
      <div>
        Field Input
        <input type="text" name="" value=""/>
      </div>
      Select field rules
      <div>
        <div>
          <input type="checkbox" ng-model="required_rule"/>Field required
        </div>
        <div>
          <input type="checkbox" ng-model="min_max_characters_rules"/> Contains a minimum of
          <select>

          </select>
          and a maximum of
          <select>

          </select>
          characters
        </div>
        <div>
          <input type="checkbox" ng-model="min_max_value_rules"/> Has a minimum value of
          <select>

          </select>
          and a maximum value of
          <select>

          </select>
        </div>
        <div>
          <button>
            cancel
          </button>
          <button>
            Update
          </button>
        </div>
      </div>
      <div>
        <input type="checkbox" ng-model="special_character_restriction"/> Special characters not allowed
      </div>
      <div>
        <input type="checkbox" ng-model="alphabetic_character_restriction"/> alphabetic characters not allowed
      </div>
      <div>
        <input type="checkbox" ng-model="numeric_restriction"/> numbers not allowed
      </div>
      <div>
        <input type="checkbox" ng-model="whitespace_restriction"/> spaces not allowed
      </div>
      <div>
        <input type="checkbox" ng-model="case_sensitive"/> case-sensitive
      </div>
      <div>
        <input type="checkbox" ng-model="email_pattern_rule"/> email address expected
      </div>
    </div>
  </div>
</div>
<div>
  <button>
    Cancel
  </button>
  <button ng-click="updateField()">
    Save & create tests
  </button>
</div>
