<div>
  Form Settings
</div>
<div>
  Qanairy tests all of your radio buttons, checkboxes, and dropdowns. Rules only need to be set for text input fields.
</div>
<div>
  <label>Form Title</label>
  <input type="text" id="form_type" ng-model="form.name"/>
</div>

<div>
  <label>Form Type</label>
  <select ng-model="form.type">
    <option ng-repeat="x in form.typeOptions"><span>{{x}}</span></option>
  </select>
</div>

<!--
<div>
  <div>Form Fields</div>
  <div ng-repeat="element in form.formFields">
    <div>
      {{ element.name}}
    </div>
  </div>
</div>
-->

<div>
  <img ng-src="{{form.formTag.screenshot}}" />
</div>
<div>
  <button>
    Cancel
  </button>
  <button ng-click="discoverTests(form)">
    Save & create tests
  </button>
</div>
