<md-dialog class="col-sm-8 modal-frame" style="">
  <div class="row">
    <div class="col-sm-12" >
      <div class="error__message" ng-repeat="error in errors track by $index">
      	{{error.message}}
      </div>

      <div class="sticky-footer-container">
      	<div class="col-sm-12 settings-page">
      		<div class="row">
      	    <div class="col-sm-12 col-xs-12">
              <h2 class="settings__title">
      		      Field Settings
              </h2>
              <div class="settings_description">
      		      Qanairy tests all of your text&nbsp;input&nbsp;fields, radio buttons, checkboxes, and dropdowns.
              </div>
      		  </div>
          </div>
          <div class="row">
      		  <div class="col-12 col-sm-6">
      				<div class="row">

              	<div class ="col-12 col-sm-10 form_molecule" >
              			<div class="form_label_description_domain">
              				 <h6>Field Title</h6>
              			</div>
              			<div class ="domain-dialogue-input" >
              				<div>
              					 <input type="text" class="form-control" id="form_type" ng-model="form.name"/>
              				</div>
              			</div>
              	</div>
              	<div class ="col-12 col-sm-6 form_molecule" >
              			<div class="form_label_description_domain">
              				 <h6>Element Name</h6>
              			</div>
              			<div class ="domain-dialogue-input" >
              				<div>
                        {{ current_field.name }}
                      </div>
              			</div>
              	</div>
                <div class ="col-12 col-sm-6 form_molecule" >
            			<div class="form_label_description_domain">
          				  <h6>Rules</h6>
            			</div>
            			<div class ="domain-dialogue-input" >
            				<div class="col-sm-12" ng-repeat="rule in current_field.rules">
                      <span>{{ rule.type }}</span>
                      <span>{{ rule.value}}</span>
                      <span ng-click="removeRule(rule)">
                        <i class="fa fa-times red"></i>
                      </span>
                    </div>
            			</div>
                  <div>
                    <div>
                      <select ng-options="rule as rule.type for rule in rule_options" ng-model="new_rule">
                      </select>
                      <div ng-show="new_rule && new_rule.type && (new_rule.type=='MAX_VALUE' || new_rule.type=='MIN_VALUE' || new_rule.type=='MAX_LENGTH' || new_rule.type=='MIN_LENGTH')">
                        <input type="text" ng-model="new_rule.value"/>
                      </div>
                    </div>
                    <div ng-click="addRuleToElement(current_field, new_rule)">
                      <i class="fa fa-plus-circle fa-2x"></i>
                    </div>
                  </div>
              	</div>
                <div class ="col-12 col-sm-6 form_molecule" >
              			<div class="form_label_description_domain">
              				 <h6>Field Type</h6>
              			</div>
              			<div class ="domain-dialogue-input" >
              				{{getFieldType(current_field)}}
              			</div>
              	</div>
                <div class="col-12 col-sm-12 form_label_description accounts">
                  <h6>Field Screenshot</h6>
                  <div>
                    <img class="form-screenshot" ng-src="{{current_field.screenshot}}" />
                  </div>
                </div>
            	</div>
            </div>
            <div class="col-12 col-sm-6 form_label_description accounts">
              <h6>Field Screenshot</h6>
              <div>
                <img class="form-screenshot" ng-src="{{current_field.screenshot}}" />
              </div>
            </div>
          </div>
        </div>

        <div class="action_button_container text-right">
          <button class="btn btn--tertiary margin_fifteen_right title__edit__buttons" ng-click="cancel()">
            Cancel
          </button>
      		<button class="btn btn--primary title__edit__buttons" ng-click="saveElement(current_field)">
      			Update Form Field
      		</button>

        </div>

      </div>
    </div>
  </div>
</md-dialog>
