<div class="error__message" ng-repeat="error in errors track by $index">
	{{error.message}}
</div>
<div class="content">

	<div class="secondary-nav vertical__center__int" >

	</div>

  <div class="test-labels-container">
    <div class="test-labels">
      <div class="flex-auto test_functions">
        Form Title
      </div>
			<div class="flex-none discovery_functions">
			</div>
      <div class="flex-initial date_stats text-left">
        Form Type
      </div>
      <div class="flex-initial date_stats text-left">
        Status
      </div>
      <div class="flex-initial date_stats text-right">
        Date Discovered
      </div>
      <div class="flex-none discovery_functions">
			</div>
    </div>
  </div>

	<div class="test-container">
		<div class="empty__state vertical__center_empty_state_busy" ng-if="forms.length == 0 && !waiting_on_forms">
      <div>
      	<br/><br/>
        <h2>No forms have been discovered yet.</h2>
				<h2>Sites that contain forms will need to classify discovered forms to continue the discovery.</h2>
      </div>
    </div>

    <div class="empty__state vertical__center_empty_state_busy" ng-if="waiting_on_forms">
      <div>
				<i class="fa fa-circle-o-notch fa-spin fa-3x green fa-fw" aria-hidden="true"></i>
        <br><br><br>
        <h2>Please wait while we retrieve your forms</h2>
      </div>
    </div>

    <div class="test"
         ng-repeat="form in (filteredForms = forms) | filter:searchText track by $index"
         ng-show="forms.length > 0">
      <div class="test__profile vertical__left__profile">
        <div class="flex-auto test__title test_functions test__profile_stretch">
          <div class="">
            <h5 class="test__title">
               {{form.name || "Form #"+($index+1)}}
             </h5>
          </div>
        </div>
				<div class="flex-none discovery_functions vertical__center__int">
					<i ng-if="form.bugMessages.length" class="fad fa-bug fa-2x error_icon"></i>
				</div>
        <div class="flex-initial text-left date_stats test__profile_stretch">
          {{toTitleCase(form.type)}}
        </div>
        <div class="flex-initial text-left date_stats test__profile_stretch">
          {{toTitleCase(form.status)  || "Unknown"}}
        </div>
				<div class="flex-initial text-right date_stats test__profile_stretch">
          {{( form.dateDiscovered | date : 'MM/dd/yy h:mm a')  || "Unknown"}}
        </div>
        <div class="flex-none discovery_functions text-right test__btns" aria-label="Form Functions">
           <button class="btn btn--tertiary" ng-click="editForm(form)" >
              <i class="fa fa-exclamation" ng-show="form.status=='DISCOVERED'||form.status=='ACTION_REQUIRED'"></i>
              <i class="fa fa-pencil" ng-show="form.status=='CLASSIFIED'"></i>
           </button>
         </div>
       </div>
    </div>
	</div>
</div>
