<div class="error__message" ng-repeat="error in errors track by $index">
	{{error.message}}
</div>

<div class="content">

		<div class="secondary-nav vertical__center__int" >

		</div>

    <div class="test-labels-container">
      <div class="test-labels">
        <div class="flex-auto test_functions">
          Form Title
        </div>
        <div class="flex-initial date_stats text-left">
          Form Type
        </div>
        <div class="flex-initial date_stats text-left">
          Status
        </div>
        <div class="flex-initial date_stats text-right">
          Date Discovered
        </div>
        <div class="flex-none discovery_functions">
			</div>
      </div>
    </div>

		<div class="test-container">
			
			<div class="empty__state vertical__center_empty_state_busy" ng-show="forms.length == 0">
      <div>
      <br><br>
        <h2>The need to identify a form may be the reason your discovery has stalled. Classify the form to proceed</h2>
      </div>
    </div>

    <div class="empty__state vertical__center_empty_state_busy" ng-show="waitingOnForms">
      <div>
        <i class="fa fa-circle-o-notch fa-spin fa-3x green fa-fw"></i>
        <br><br><br>
        <h2>Sorry, we haven't found any forms yet. </h2>
        <p class="empty__state__p">Please be patient, I'm sure we will find one shortly.<br><br>Please contact <a href="mailto:support@qanairy.com?subject=Excessive%20Load%20Times">support@qanairy.com</a> if this message is still active after 24 hrs.<br>If you would like to see this run faster contact us about a paid subscription.</p>
      </div>
    </div>
    <div class="test"
         ng-repeat="form in (filteredForms = forms) | filter:searchText track by $index"
         ng-show="forms.length > 0">
      <div class="test__profile vertical__left__profile"">

        <div class="flex-auto test__title test_functions test__profile_stretch"">
          <div class="">
            <h5 class="test__title">
               {{form.name || "Form #"+($index+1)}}
             </h5>
          </div>
        </div>

        <div class="flex-initial text-left date_stats test__profile_stretch">
          {{form.type}}
        </div>
        <div class="flex-initial text-left date_stats test__profile_stretch">
          {{form.status  || "Unknown"}}
        </div>
        <div class="flex-initial text-right date_stats test__profile_stretch">
          {{( form.dateDiscovered | date : 'MM/dd/yy h:mm a')  || "Unknown"}}
        </div>
        <div class="flex-none discovery_functions text-right test__btns" aria-label="Form Functions">
           <button class="btn btn--tertiary" ng-click="editForm(form)" >
              <i class="fa fa-exclamation" ng-show="form.status=='DISCOVERED'||form.status=='ACTION_REQUIRED'"></i>
              <i class="fa fa-pencil" ng-show="form.status=='CLASSIFIED'"></i>
           </button>
         </div>
       </div>
    </div>
  </div>
</div>
