<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Login</h3>
      <hr>
    </div>
  </div>
  <div>
    <form ng-submit="login(formData)"
          enctype="multipart/form-data"
          novalidate>
      <div>
        <label for="username">Username</label>
        <input type='text' id="username" ng-model="formData.username"/>
      </div>
      <div>
        <label for="password">Password</label>
        <input type='password' id="password" ng-model="formData.password"/>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
