<div class="row">
  <!--
  <div id="startup_package" class="col-sm-4" >
    <div>
      Startup Package
    </div>
    <div>
      <rzslider rz-slider-model="discovery_slider.value"
                rz-slider-options="discovery_slider.options"></rzslider>
      <rzslider rz-slider-model="test_slider.value"
                rz-slider-options="test_slider.options"></rzslider>
    </div>
    <div>
      {{(plans[discovery_slider.value+'-disc-'+test_slider.value+'-test'] | currency) || 'Contact Us!'}}
    </div>
    <button ng-click="updateSubscription(discovery_slider.value, test_slider.value)">
      Buy Now!
    </button>
  </div>
-->
  <div id="enterprise_package" class="col-sm-4">
    Contact Us!
  </div>
</div>
