<div class="">
  <!-- <div id="startup_package" class="col-sm-4 col-xs-4 offset-sm-2" >
		<div class="planframe">
			<div>
				Startup Package
			</div>
			<div>
				<rzslider rz-slider-model="discovery_slider.value"
									rz-slider-options="discovery_slider.options"></rzslider>
				<rzslider rz-slider-model="test_slider.value"
									rz-slider-options="test_slider.options"></rzslider>
			</div>
			<div>
				{{(plans[discovery_slider.value+'-disc-'+test_slider.value+'-test'] | currency) || 'Contact Us!'}}
			</div>
			<button class="btn btn--primary" ng-click="updateSubscription(discovery_slider.value, test_slider.value)">
				Buy Now!
			</button>
		</div>
  </div>-->
  <div id="enterprise_package" class="offset-sm-4 col-sm-4">
		<div class="planframe">
			<h2>Startup Plan</h2>
			<a href="mailto:qanairy@qanairy.com">Contact Us!</a>
		</div>
  </div>
</div>
