
  <div ng-click="previous()" class="flex-none toggle-arrow">
    <i class="fas fa-chevron-circle-left"></i>
  </div>
  <div class="browser_viewport_container" >
    <div ng-repeat="page_interaction in path track by $index"
         ng-show="current_node.key === page_interaction.page_key"
         id="{{'expandable'+page_interaction.page_key}}"
         class="browser_viewport">
      <div ng-show="current_node.key === page_interaction.page_key && page_interaction.page_key.includes('redirect') "
          class="browser_view">
        <img src="{{ page_interaction.page.imageUrls[0]}}"
             ng-click="openPathSlider(path)"/>
      </div>
      <div ng-show="current_node.key === page_interaction.page_key && page_interaction.page_key.includes('PageLoadAnimation') "
          class="browser_view">
        <img src="{{page_interaction.page.imageUrls[0]}}"
             ng-click="openPathSlider(path)"/>
      </div>
      <div class="browser_view" ng-show="current_node.key === page_interaction.page_key && page_interaction.page_key.includes('pagestate')">
         <img src="{{page_interaction.page.screenshotUrl}}"
              ng-click="openPathSlider(path)"/>
         <div ng-repeat="interaction in page_interaction.interactions track by $index"
              id="{{'element-outline'+$index}}"
              class="element__outline"
              style="{{generateElementOutline(page_interaction.page, interaction.element)}}">
         </div>

         <img src="{{page_interaction.page.screenshotUrl}}"
              ng-click="openPathSlider(path)"/>
         <div ng-repeat="interaction in page_interaction.interactions track by $index"
              id="{{'element-outline'+$index}}"
              class="element__outline"
              style="{{generateElementOutline(page_interaction.page, interaction.element)}}">
         </div>
      </div>
    </div>
  </div>
  <div ng-click="next()" class="flex-none toggle-arrow">
    <i class="fas fa-chevron-circle-right"></i>
  </div>
