<div class="standard-container">
	<div class="offset-md-2 col-md-8">
  	<h2 class="modal__title  mt-3">
  		We&nbsp;Love Feedback!
  	</h2>
    <div class="form_label_description accounts">
  		You deserve to have the very best automated testing tool out&nbsp;there. Here's your chance to mold and shape Qanairy into exactly the automating powerhouse you need to keep your company running&nbsp;smoothly. By leaving feedback on how we can improve, you get to custom tailor your&nbsp;QA&nbsp;experience.
      <br><br>
      For feature requests or suggested improvements please email us at <a href="mailto:feedback@qanairy.com" >feedback@qanairy.com</a>.
      <br><br>
      For bugs or questions please contact <a href="mailto:support@qanairy.com" >support@qanairy.com</a>.
      <br>
      If you run into an issue, let us know ASAP, and we'll take a look at how we&nbsp;can&nbsp;help.
       <br><br>
  		<div class="">
  			<script src="https://www.powr.io/powr.js?platform=html"></script><div class="powr-poll" id="b260717e_1565103477"></div>
  		</div>
  	</div>
  </div>
</div>
