<div class="empty__state vertical__center__int row">
  <div class="col-sm-12">
    <h3>Select Browsers</h3>
  </div>
  <div class="col-sm-12">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-2">
      <div class="col-sm-12 vertical__center__int">
        <img src="/img/Chrome.ico" class="browser-icon"></img>
      </div>
      <div class="col-sm-12 vertical__center__int">
        <input type="checkbox" ng-model="chrome_selected"/>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="col-sm-12 vertical__center__int">
        <img src="/img/firefox.png" class="browser-icon"></img>
      </div>
      <div class="col-sm-12 vertical__center__int">
        <input type="checkbox" ng-model="firefox_selected"/>
      </div>
    </div>

    <div class="col-xs-2" >
      <div class="col-sm-12 vertical__center__int">
        <img src="/img/internet_explorer.png" class="browser-icon disabled_image"></img>
      </div>
      <div class="col-sm-12 vertical__center__int">
        <input type="checkbox" ng-model="ie_selected" ng-disabled="true"/>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="col-sm-12 vertical__center__int">
        <img src="/img/safari.png" class="browser-icon disabled_image"></img>
      </div>
      <div class="col-sm-12 vertical__center__int">
        <input type="checkbox" ng-model="safari_selected" ng-disabled="true"/>
      </div>
    </div>

    <div class="col-xs-2">
    </div>
  </div>
  <button class="btn btn--green btn-lg" ng-click="startDiscovery(browsers)" ng-disabled="isStarted || failing_tests>0">
    Run
  </button>
</div>
