<div class="empty__state vertical__center__int row" ng-show="">
  <div class="col-sm-12">
    <h3>Select Browsers</h3>
  </div>
  <div class="col-sm-12">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-3 vertical__center__int">
      <button ng-model="chrome_selected" ng-click="selected_browser='chrome'">
        <img src="/img/Chrome.ico" class="browser-icon"></img>
      </button>
    </div>

    <div class="col-xs-2">
    </div>
    <div class="col-xs-3 vertical__center__int">
      <button ng-model="firefox_selected" ng-click="selected_browser='firefox'">
        <img src="/img/firefox.png" class="browser-icon"></img>
      </button>
    </div>

    <!--
    <div class="col-xs-2 vertical__center__int" >
      <button ng-model="ie_selected" ng-show="false"  ng-click="selected='ie'">
        <img src="/img/internet_explorer.png" class="browser-icon disabled_image"></img>
      </button>
    </div>

    <div class="col-xs-2 vertical__center__int">
      <button ng-model="safari_selected" ng-show="false" ng-click="selected='safari'">
        <img src="/img/safari.png" class="browser-icon disabled_image"></img>
      </button>
    </div>
      -->
    <div class="col-xs-2">
    </div>
  </div>
  <button class="btn btn--green btn-lg" ng-click="startDiscovery(selected_browser)" ng-disabled="isStarted || failing_tests>0">
    Run
  </button>
</div>
