<div controller="WorkManagementCtrl" class="content">
<!--  <button ng-show="isStarted"
          class="btn btn-danger col-xs-12"
          ng-click="stopMappingProcess('account_key_here')">
      Stop!
  </button>
-->

	<div class="col-md-12 error__message" ng-repeat="error in errors">
		{{error}}
		{{error.message}}
	</div>
	<div class="secondary-nav vertical__center__int" >
	  <div class="col-md-2 col-sm-4">
			<button class="btn btn--green pull-left" ng-click="startDiscovery()" ng-disabled="isStarted || failing_tests>0">Start Discovery</button>
	  </div>
		<div class="col-md-10 col-sm-8">
	  </div>
	</div>

	<div class="test-labels">
		<div class="col-xs-2">
		  Status
		</div>
		<div class="col-xs-6">
		  Test Title
		</div>
		<div class="col-xs-2">
		  Time (s)&nbsp;<i class="fa fa-sort"></i>
		</div>
		<div class="col-xs-2">
		  Date Discovered&nbsp;<i class="fa fa-sort"></i>
		</div>
	</div>

	<div class="test-container">
		<div class="empty__state vertical__center__int" ng-show="waitingOnTests">
			<div style="text-align:center; margin: 0px auto; vertical__center__int">
				<i class="fa fa-hourglass-half fa-spin fa-3x green fa-fw" aria-hidden="true"></i>
				<span class="sr-only">Running...</span>
			</div>
		</div>
		<div class="empty__state vertical__center__int" ng-show="!waitingOnTests && tests.length==0">
			<h3>Collect your tests by first running a Discovery.</h3>
			<button class="btn btn--green btn-lg" ng-click="startDiscovery()" ng-disabled="isStarted || failing_tests>0">
				Start Discovery
			</button>
		</div>
		<div class="test" ng-repeat="test in tests" ng-show="!waitingOnTests && tests.length>0">
			<div class="test__profile vertical__center__int" >
			  <div class="col-xs-2 test__status text--shadow">
			   	<div class="row no-gutter">
						<div class="col-xs-1 test__status" ng-show="test.waitingOnStatusChange">
		          <i class="fa fa-hourglass-half fa-spin fa-3x green fa-fw" aria-hidden="true"></i>
		          <span class="sr-only">Running...</span>
		        </div>
					 	<div class="col-xs-6 btn--green select__neutral status vertical__center__int" ng-show="!test.waitingOnStatusChange">
						 	<div class="" ng-click="updateCorrectness(test, true, $index)">
						   	<i class="fa fa-check status--symbol white"
							   	 style="{{test.correct ? 'color:green' : 'color:#bfbfbf'}}"></i>
								 <br />
								 Correct
							</div>
						</div>
						<div class="status col-xs-6 btn--red select__neutral vertical__center__int" ng-show="!test.waitingOnStatusChange">
							<div class="" ng-click="updateCorrectness(test, false, $index)">
								<i  class="fa fa-times status--symbol white"
									style="{{!test.correct && test.correct != null ? 'color:red' : 'color:#bfbfbf'}}"></i>
									<br />
									Incorrect
							</div>
						</div>
				  </div>
			  </div>
				<div class="col-xs-6 test__title vertical__left__int" ng-click="toggleTestDataVisibility(test);visible_tab='nodedata'+$index">
					<div class="row" >
						<div class="col-xs-12 " ng-show="!test.show_test_name_edit_field">
							<h2 ng-click="test.show_test_name_edit_field = true" >{{test.name || "Test #"+($index+1)}}</h2>
							<i class="fa fa-pencil edithover"  ng-click="test.show_test_name_edit_field = true" ></i>
						</div>
						<div class="col-xs-12 vertical__left__int no-gutter" ng-show="test.show_test_name_edit_field">
							<div class="col-md-6 col-sm-8 vertical__left__int">
								<div class="input-group">
									<input class="form-control title__edit" type="text" ng-model="new_name" ng-value="test.name" />
								</div>
							</div>
							<div class="col-md-6 col-sm-4 vertical__left__int">
								<div class="title__edit__buttons btn--green pull-right" ng-click="setTestName(test, new_name)" ng-show="!test.show_waiting_icon">Save</div>
								<div class="title__edit__buttons btn--gray pull-right" ng-click="cancelEditingTestName(test)" ng-show="!test.show_waiting_icon">Cancel</div>
								<div class="">
									<i class="fa fa-hourglass-half fa-spin fa-2x green fa-fw" ng-show="test.show_waiting_icon" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			  <div class="col-xs-2 vertical__center__int" ng-click="toggleTestDataVisibility(test);visible_tab='nodedata'+$index">
					{{test.runTime/1000}} s
			  </div>
			  <div class="col-xs-2 vertical__center__int" ng-click="toggleTestDataVisibility(test);visible_tab='nodedata'+$index">
					{{ test.time_discovered || "Unknown"}}
			  </div>
			</div>

			<div ng-show="test.visible">
				<div class="test__path vertical__left__int " ng-click="visible_tab='nodedata'+$index">
				  <div ng-repeat="node in test.path.path" class="path-node-container vertical__center__int " ng-click="setCurrentNode(node)">
				    <div ng-show="node.screenshot" class="path-node path-page" tooltip-placement="top">
						  <img src="{{node.screenshot}}" class="path-node-image"/>
					  </div>
					 	<div ng-show="node.type == 'PageElement'" class="path-node path-element">
							<span class="" tooltip-placement="top">
								{{node.name}}
							</span>
			  		</div>
					  <div ng-show="node.type == 'Action'" class="path-node path-action vertical__center__int">
							<span ng-show="node.name=='click'" class="vertical__center__int">
						  	<i class="fa fa-mouse-pointer fa-2x icon" tooltip-placement="top"></i>
							</span>
							<span ng-show="node.name=='doubleClick'" class="vertical__center__int">
								<i class="fa fa-mouse-pointer fa-2x icon" tooltip-placement="top"></i>
								<div class=”doubleclick” >x2</div>
							</span>
							<span ng-show="node.name=='mouseover'" class="vertical__center__int">
								<i class="fa fa-hand-pointer-o fa-2x icon"></i>
							</span>
							<span ng-show="node.name=='scroll'" class="vertical__center__int">
								<i class="fa fa-arrows-v fa-2x icon"></i>
							</span>
							<span ng-show="node.name=='sendKeys'" class="vertical__center__int">
								<i class="fa fa-i-cursor fa-2x icon"></i>
							</span>
					  </div>
						<div class="path-bar">
						</div>
					</div>
					<div class="path-node-container vertical__center__int" ng-click="setCurrentNode(test.result);visible_tab='nodedata'+$index">
					  <div ng-show="test.result.screenshot" class="path-node">
						  <img src="{{test.result.screenshot}}" class="path-node-image"/>
					  </div>
					</div>
			  </div>

				<div class="test__groups vertical__center__int no-gutter">
					<div class="col-md-1 col-sm-1 ">
						<h4>Groups: </h4>
					</div>
					<div class="col-md-3 col-sm-5 ">
						<div class="input-group">
							<input type="text" class="form-control pull-right" ng-model="group.name" placeholder="Feature, Smoke, etc." aria-describedby="basic-addon2">
							<span class="input-group-addon btn--gray" ng-click="addGroup(test, group)" id="basic-addon2"><i class="fa fa-plus"></i></span>
						</div>
					</div>
					<div class="col-md-8 col-sm-6">
						<div class="group__tag" ng-repeat="group in test.groups" data-toggle="tooltip" data-placement="top" title="{{group.description}}">
						  {{group.name}}
							<span ng-click="removeGroup(test, group, $index)">
								<i class="remove__group fa fa-times"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		  <div class="test__info tabs tabs-style-bar" ng-show="test.visible">
				<nav>
					<ul>
						<li class="" ng-click="visible_tab='nodedata'+$index">
							<a ng-href="" class="icon icon-home" \>
									Node Data
							</a>
						</li>
					</ul>
				</nav>
				<div class="content-wrap">
						<div class="node__data" ng-show="visible_tab=='nodedata'+$index">
							<div class="col-sm-12" ng-show="current_node.type=='Page'">
								<div class="row">
									<div class="col-sm-12 col-xs-12 node__title">
										<h4>Page - {{current_node.url}}</h4>
									</div>
									<div class="col-sm-3 col-xs-2">
										<img type="button" class="path-node-image"
										data-toggle="modal" data-target="#exampleModal"
										src="{{current_node.screenshot}}" class="path-node-image" />
									</div>
									<div class="col-sm-9 col-xs-10">
										<div class="key--value">
											<div class="data__key">
												<span>
													Landable:
												</span>
												<input type="checkbox" ng-checked="current_node.landable" disabled/>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12" ng-show="current_node.type=='PageElement'">
								<div class="row">
									<div class="col-sm-12 col-xs-12 node__title">
										<h4>Element - {{current_node.name}}</h4>
									</div>
									<div class="col-sm-12 col-xs-12">
										<div class="key--value">
											<div class="data__key">
											 Xpath:
											</div>
											<div class="data__value">
											 {{current_node.xpath}}
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-xs-12">
										<div class="key--value">
											<div class="data__key">
												CSS:
											</div>
											<div class="data__value" ng-repeat="(key, value) in current_node.cssValues">
												{{key}} -           {{value}}
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-xs-12">
										<div class="key--value">
											<div class="data__key">
												Attributes:
											</div>
											<div class="data__value" ng-repeat="attribute in current_node.attributes">
												{{attribute.name}} -           {{attribute.vals}}
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-xs-12" ng-show="text.length > 0">
										<div class="key--value">
											<div class="data__key">
												Text:
											</div>
											<div class="data__value">
												{{current_node.text}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12" ng-show="current_node.type=='Action'">
								<div class="node__title">
									<h4>Action - {{current_node.name}}</h4>
								</div>
								<div class="">
									<div class="key--value" ng-show="current_node.value || current_node.name=='sendKeys'">
										<div class="data__key">
											Value:
										</div>
										<div class="data__value">
											{{current_node.val}}
										</div>
									</div>
								</div>
							</div>
						</div>
				</div><!-- /content -->
			</div><!-- /tabs -->
		</div>
	</div>
</div>
