<div class="content">
  <div class="">
    <div class="error__message" ng-repeat="error in errors track by $index">
      {{error.message}}
    </div>
  </div>
  <div class="test-container-split">
    <div class="empty__state vertical__center_empty_state_discovery" ng-show="!isStarted && tests.length==0">
      <div class="col-sm-12 split--oboard--title">
        <h1>Choose a way to start building&nbsp;tests.</h1>
      </div>
      <div class="col-sm-12 split--oboard--container">
        <div class="row no-gutters">
          <div class="col-sm-12 col-md-5 empty_state_card">
            <div class="empty_state_icon">
              <i class="fad fa-brain"></i>
            </div>
            <div>
              <h2>AI Auto Test&nbsp;Creation</h2>
              <p>
                Qanairy sends out an AI opera of canaries to autogenerate your UI tests by mapping your domain's&nbsp;paths. Start a “Discovery” on your domain to find and create your tests automatically. You can learn more about <a href="http://blog.qanairy.com/2019/07/getting-started-with-qanairy-part-one.html" target="_blank">Getting&nbsp;Started&nbsp;here</a>.
              </p>
            </div>
            <div>
              <button class="btn btn--split--onboard btn--primary btn-lg" ng-click="startDiscovery()">
                Start Discovery
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="split--oboard--or">
              OR
              </div>
          </div>
          <a class="text-center" style="text-decoration: none;" href="https://chrome.google.com/webstore/detail/qanairy-test-recorder/gaeciehbbgjmpkpeeojblplhcpemnlpo" target="_blank">
            <div class="col-sm-12 col-md-5 empty_state_card">
              <div class="empty_state_icon">
                <i class="fad fa-bullseye-pointer"></i>
              </div>
              <div>
                <h2>Manually Build Tests</h2>
                <p>
                  Get started right away by using Qanairy's Test Recorder&nbsp;tool. Record and build tests right from your&nbsp;browser. Create your most complex tests while Qanairy's Auto Test Creation automates the&nbsp;rest. Available&nbsp;for&nbsp;Google&nbsp;Chrome.
                </p>
              </div>
              <div>
                <a href="https://chrome.google.com/webstore/detail/qanairy-test-recorder/gaeciehbbgjmpkpeeojblplhcpemnlpo" target="_blank">
                  <button class="btn btn--split--onboard btn--primary btn-lg">
                    Get The Test&nbsp;Recorder
                  </button>
                </a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="empty__state vertical__center_empty_state_busy" ng-if="(isStarted && tests.length==0) || waitingOnTests">
      <div style="text-align:center; margin: 0px auto;">
        <i class="fa fa-circle-o-notch fa-spin fa-3x green fa-fw" aria-hidden="true"></i>
        <br><br><br>
        <h2>Your tests are loading. Please stand by.</h2>
        <p class="empty__state__p">
          This process may take a while.<br>Please contact <a href="mailto:support@qanairy.com?subject=Excessive%20Load%20Times">support@qanairy.com</a> if this message is still active after 24 hrs.<br>If you would like to see this run faster contact us about a paid subscription.
        </p>
      </div>
    </div>
    <split direction="horizontal" ng-transclude ng-if="tests.length>0">
      <split-area size="50" height="10" ng-transclude >
        <div class="secondary-nav vertical__center__int" >
          <div class="flex-auto">
            <div class="col-sm-12" ng-show="!isStarted" >
              <button class="btn btn--primary pull-left" ng-click="startDiscovery()" id="start_discovery_button">
                Start Discovery
              </button>
            </div>
            <div class="col-sm-12 running_status" ng-if="isStarted">
              <div class="row">
                <div class="progress_bar">
                  <div class="percent">{{((discovery_status.examinedPathCount/discovery_status.totalPathCount)*100) || 0 | number:1 }}%
                  </div>
                  <md-progress-linear md-mode="determinate" value="{{((discovery_status.examinedPathCount/discovery_status.totalPathCount)*100) || 0 }}"></md-progress-linear>
                  <div class="waiting_text">
                  </div>
                </div>
                <div class="">
                  <button class="btn btn-danger stop_button"
                          ng-click="askStopDiscovery()">
                     Stop
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-auto pull-right right-secondary-nav ">
            <div class="input-group search">
              <span class="input-group-addon"><i class="fa fa-search"></i>
              </span>
              <input type="text" class="form-control pull-right" ng-model="searchText" placeholder="Search Tests" aria-describedby="search">
            </div>
          </div>
        </div>
        <div class="test-labels-container test-labels-container-split">
          <div class="test-labels test-labels-split">
            <div class="flex-none status__title test__status__frame">
              Status
            </div>
            <div class="flex-auto test_functions">
              Test Title
            </div>
            <div class="flex-none discovery_functions">
            </div>
            <div class="flex-none accordion-flex">
            </div>
          </div>
        </div>
        <div class="test-container-split-left">
          <div class="test" ng-repeat="test in (filteredTests = tests) | filter:searchText | filter:{archived: false}:true | orderBy:'lastRunTimestamp' track by test.key" ng-show="tests.length>0" >
            <div class="test__profile vertical__left__profile" ng-click="setTestIndex($index, test);visible_tab='nodedata'+$index" ng-class="current_test.key==test.key ? 'active' : ''">
              <div class="test__status test__profile_stretch flex-none text--shadow"  id="{{'test'+$index+'_status'}}" >
                <div class="row test__status__frame">
                  <div class="col-xs-12 test__status" ng-show="test.waitingOnStatusChange">
                    <i class="fa fa-circle-o-notch fa-spin fa-3x green fa-fw" aria-hidden="true"></i>
                  </div>
                  <div class="flex-auto-no-padding status-passing btn--green discovery_status discovery_status_border"  ng-show="!test.waitingOnStatusChange" ng-click="updateCorrectness(test, 'PASSING', $index)">
                    <div class="" >
                      Passing
                      <br />
                      <i class="fa fa-check discovery--status--symbol white" style="{{test.status == "PASSING" ? 'color:green' : 'color:#bfbfbf'}}"></i>
                    </div>
                  </div>
                  <div class="discovery_status status-failing flex-auto-no-padding btn--red " ng-show="!test.waitingOnStatusChange" ng-click="updateCorrectness(test, 'FAILING', $index)">
                    <div class="" >
                      Failing
                      <br />
                      <i class="fa fa-times discovery--status--symbol white" style="{{!test.status == "FAILING" && test.status != null ? 'color:red' : 'color:#bfbfbf'}}"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-auto test__title test_functions test__profile_stretch" >
                <div class="" ng-show="!test.show_test_name_edit_field">
                  <h3 class="test__title" >
                    {{test.name || "Test #"+($index+1)}}
                  </h3>
                  <i class="fa fa-pencil edithover" ng-click="test.show_test_name_edit_field = true" ng-click="editTest(test)" ></i>
                </div>
              </div>
              <div class="test_name flex-auto time_stats test__profile_stretch" ng-if="test.show_test_name_edit_field">
                <div class="row">
                  <div class="flex-auto">
                    <div class="">
                      <input class="form-control title__edit title__edit__margin" type="text" ng-model="new_name" ng-value="test.name" ng-trim="false"/>
                    </div>
                  </div>
                  <div class="flex-none test_name_edit">
                    <div class="title__edit__buttons margin_fifteen_left btn--secondary" ng-click="cancelEditingTestName(test)" ng-show="!test.show_waiting_icon">
                      Cancel
                    </div>
                    <div class="title__edit__buttons margin_fifteen_left btn--primary " ng-click="setTestName(test, new_name)" ng-show="!test.show_waiting_icon">
                      Save
                    </div>
                    <div class="" ng-show="test.show_waiting_icon">
                      <i class="fa fa-circle-notch fa-spin fa-2x green fa-fw"  aria-hidden="true"></i>
                    </div>
                  </div>
                </div>

              </div>
      			  <div class="flex-none discovery_functions text-right test__btns" aria-label="Test Functions">
                <!---ARCHIVE TEST BUTTON IS HERE -->
                <button class="btn btn--tertiary button--ujarak" ng-click="askDelete(test)">
                   <i class="fa fa-trash" ></i>
                </button>
                <!---ARCHIVE TEST BUTTON ENDS HERE -->
              </div>
        	  </div>
          </div>
        </div>
      </split-area>
      <split-area size="50" ng-transclude >
        <discovery-test-data-panel test="current_test" ></discovery-test-data-panel>
      </split-area>
    </split>
  </div>
</div>
<onboarding-popover enabled="discoveryOnboardingEnabled" steps="discoveryOnboardingSteps" step-index="discoveryOnboardingIndex"></onboarding-popover>
<onboarding-popover enabled="testVerificationOnboardingEnabled" steps="testVerificationSteps" step-index="testVerificationOnboardingIndex"></onboarding-popover>
