<div class="col-sm-12" controller="WorkManagementCtrl">
  <!--<button ng-show="isStarted"
          class="btn btn-danger col-sm-12"
          ng-click="stopMappingProcess('account_key_here')">
      Stop!
  </button>
-->
  <div class="col-sm-12">
    <div class="col-sm-2">
      <div class="row">
        <button ng-click="startMappingProcess()" class="btn btn-success">Start Crawl</button>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="col-sm-2">
    Status
  </div>
  <div class="col-sm-4">
    Test Title
  </div>
  <div class="col-sm-2">
    Time (seconds)
  </div>
  <div class="col-sm-2">
    Date Last run
    <i class="fa fa-arrow" />
  </div>
  <div class="col-sm-2">

  </div>
</div>

<div class="col-sm-12">
  <div class="col-sm-2">
    <span class="col-sm-6">
      <i class="fa fa-check"/>
      Correct
    </span>
    <span class="col-sm-6">
      <i class="fa fa-times"/>
      Incorrect
    </span>
  </div>
  <div class="col-sm-4">
    Regression Test 1 {test.title}
  </div>
  <div class="col-sm-2">
    3.07
  </div>
  <div class="col-sm-2">
    3/10/17
  </div>
  <div class="col-sm-2">
    <button class="btn">Run</button>
    <button class="btn"><i class="fa fa-star-o" /></button>
    <button class="btn"><i class="fa fa-angle-down" /></button>
  </div>
</div>

<div class="col-sm-12" ng-repeat="test in tests">

  <div class="col-sm-2">
    {{test.correct}}
    <span class="col-sm-6" ng-click="updateCorrectness(test, true)">
      <i class="fa fa-check" />
      Correct
    </span>
    <span class="col-sm-6" ng-click="updateCorrectness(test, false)">
      <i class="fa fa-times"/>
      Incorrect
    </span>
  </div>
  <div class="col-sm-4">
    {{test.name || 'Temporary test name'}}
  </div>
  <div class="col-sm-2">
    {{test.runtime}}

    3.07
  </div>
  <div class="col-sm-2">

  </div>
  <div class="col-sm-2">
    <button class="btn">Run</button>
    <button class="btn"><i class="fa fa-star-o" /></button>
    <button class="btn"><i class="fa fa-angle-down" /></button>
  </div>
</div>
