<md-dialog class="col-sm-8 modal-frame" style="">
	<div class="error__message" ng-show="show_create_domain_err">
	  {{domain_creation_err}}
	</div>
	<div class="row">
		<div class="col-sm-12" >
			<div class="row ">
				<div class="col-sm-10">
					<div class="domain-dialogue-header">
						<h2 class="modal__title">Start a new project by adding a&nbsp;domain</h2>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="dialogue-close" ng-click="closeDialog()" ng-show="domains.length">
						 <h2 style="text-align:right;">
							 <i class="fa fa-times"></i>
						 </h2>
					</div>
				</div>
			</div>
			<div class="row modal-form">
				<form name="domain_form" novalidate>
						<div class ="domain-dialogue" >
								<div class ="col-sm-12 form_molecule" >
									  <div class="form_label_description_domain">
											 <h6>Domain</h6>
										</div>
										<div class ="domain-dialogue-input" >
														<div class="domain_protocol">
												<select id="domain_protocol" class="form-control" ng-model="current_domain.protocol" required>
													<option value="http">http</option>
													<option value="https">https</option>
												</select>
											</div>
											<div>
												<input id="domain_input" class="form-control" ng-model="current_domain.url" placeholder="yourdomain.com" required/>
											</div>
										</div>
								</div>
								<div class="col-sm-12 form_molecule">
									<div class="form_label_description">
											<h6>Select A Browser</h6>
											This will be the default browser this domain uses for discovery.
									</div>
										 <div class="row browser_buttons">
											<div class="col-xs-12">
												<button class="btn btn-depressed" ng-click="selected_browser='chrome'" ng-class="{active: selected_browser=='chrome' || domain.discoveryBrowser == 'chrome'}">

													<img src="/img/Chrome.ico" class="modal-browser-icon chrome" ng-show="selected_browser=='chrome'">
													<div class="fa-icon" ng-show="selected_browser!='chrome'">
														<i class="fa fa-chrome"></i>
													</div>
												</button>
												<button class="btn btn-depressed" ng-click="selected_browser='firefox'" ng-class="{active: selected_browser=='firefox' || domain.discoveryBrowser == 'firefox'}">
													<img src="/img/firefox.png" class="modal-browser-icon firefox" ng-show="selected_browser=='firefox'">
													<div class="fa-icon" ng-show="selected_browser!='firefox'">
														<i class="fa fa-firefox"></i>
													</div>
												</button>
											</div>
											<div class="col-xs-6">
											</div>
										</div>
								</div>
								<div class="col-sm-12 form_molecule">
									<div class="form_label_description">
										<h6>
											Upload A Logo <span class="optional">(optional)</span>
										</h6>
										<p>For best results use a 220px x 100px transparent png.</p>
									</div>
									<div class="domain_modal_logo" ng-if="!current_domain.logo_url">
										<i class="fa fa-image" ng-click="openPicker(domain)"></i>
									</div>
									<div class="domain_modal_logo" ng-if="current_domain.logo_url">
										<img ng-src="{{current_domain.logo_url}}"/>
									</div>
									<button class="btn btn--secondary" ng-click="openPicker(domain)">Upload Logo</button>
								</div>
								<div ng-show="domain_creation_error" class="error">
									Something went wrong, Please try again
								</div>
							  <div class ="col-sm-12 form_molecule" >
								<div class="form_label_description">
											<h6>Domain Disclaimer</h6>
											<input type="checkbox" ng-model="disclaimer_checkbox" required>
											I understand that by providing a domain name via Qanairy's services, that Qanairy will utilize certain technology to, “scrape,” “crawl” or “spider” the pages including in such domain name and may collect my user credentials such that the services can access such domain names. I grant Qanairy all rights necessary to do so and represent and warrant that I own or have all necessary rights to permit Qanairy to do so and that such actions will not violate any third party rights.
									</div>
								</div>
						</div>
						<div class="modal_action_button">
							<button id="create_domain_button" class="btn btn--primary pull-right"
                      ng-click="createDomain(current_domain.protocol, current_domain.url, selected_browser, current_domain.logo_url)"
                      ng-disabled="!selected_browser || domain_form.$invalid">
                        Add Domain
              </button>
						</div>
				</form>
			</div>
		</div>
	</div>
	<div class="error__message" ng-show="show_create_domain_err">
	  {{domain_creation_err}}
	</div>
</md-dialog>
