<md-dialog class="col-sm-6" style="">
    <div class="dialogue-close" ng-click="closeDialog()" ng-show="domains.length">
        <md-dialog-content>
           <h2 style="text-align:right;"><i class="fa fa-times"></i></h2>
        </md-dialog-content>
    </div>
    <div class="domain-dialogue-header">
        <md-dialog-content>
           <h2 class="modal__title">Start a new project by adding a&nbsp;domain.</h2>
        </md-dialog-content>
    </div>



    <form name="domain_form" novalidate>
        <div class ="row domain-dialogue" >
            <div class ="col-sm-12 form_molecule" >
                   <div class="form_label_description">
                       <h6>Domain</h6>
                    </div>
                <div class ="domain-dialogue-input" >
                        <div>
                    <select id="domain_protocol" class="form-control" ng-model="protocol" required>
                      <option value="http">http</option>
                      <option value="https">https</option>
                    </select>
                  </div>
                  <div>
                    <input id="domain_input" class="form-control" ng-model="host" placeholder="yourdomain.com" required/>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 form_molecule">
              <div class="form_label_description">
                  <h6>Select A Browser</h6>
                  This will be the default browser this domain uses for discovery.
              </div>
              <div class="row">
                <div class="col-xs-2">
                  <button class="btn" ng-click="chrome_selected=true;firefox_selected=false;selected_browser='chrome'" ng-class="{active: chrome_selected}">
                    <img src="/img/Chrome.ico" class="browser-icon">
                  </button>
                </div>
                <div class="col-xs-2">
                  <button class="btn" ng-click="firefox_selected=true;chrome_selected=false;selected_browser='firefox'" ng-class="{active: firefox_selected}">
                    <img src="/img/firefox.png" class="browser-icon">
                  </button>
                </div>
                <div class="col-xs-8">
                </div>
              </div>
            </div>
            <div class="col-sm-12 form_molecule">
                <div class="form_label_description">
                  <h6>Upload A Logo</h6>
                  For best results use a 200px x200px transparents png.

              </div>
              <button class="btn btn--secondary" ng-click="domain.logoUrl = openPicker(domain)">Upload Logo</button>
              <img ng-src="{{domain.logoUrl}}" />
            </div>
            <div ng-show="domain_creation_error" class="error">
              Something went wrong, Please try again
            </div>
        </div>
        <div class="col-xs-12 modal_action_button">
          <button id="create_domain_button" class="btn btn--primary pull-right" type="submit" ng-click="selected_browser && domain_form.$valid && createDomain(protocol, host, selected_browser)"   ng-disabled="!selected_browser || domain_form.$invalid">Add Domain</button>
        </div>
    </form>
</md-dialog>
