<md-dialog class="col-sm-6" style="">
    <div class="dialogue-close" ng-click="closeDialog()" ng-show="domains.length">
        <md-dialog-content>
           <h2 style="text-align:right;">
             <i class="fa fa-times"></i>
           </h2>
        </md-dialog-content>
    </div>
    <div class="domain-dialogue-header">
        <md-dialog-content>
           <h2 class="modal__title">Start a new project by adding a&nbsp;domain.</h2>
        </md-dialog-content>
    </div>

    <form name="domain_form" novalidate>
        <div class ="domain-dialogue" >
            <div class ="col-sm-12 form_molecule" >
                   <div class="form_label_description_domain">
                       <h6>Domain</h6>
                    </div>
                <div class ="domain-dialogue-input" >
                        <div class="domain_protocol">
                    <select id="domain_protocol" class="form-control" ng-model="current_domain.protocol" required>
                      <option value="http">http</option>
                      <option value="https">https</option>
                    </select>
                  </div>
                  <div>
                    <input id="domain_input" class="form-control" ng-model="current_domain.url" placeholder="yourdomain.com" required/>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 form_molecule">
              <div class="form_label_description">
                  <h6>Select A Browser</h6>
                  This will be the default browser this domain uses for discovery.
              </div>
                 <div class="row browser_buttons">
                  <div class="col-xs-3">
                    <button class="btn btn-depressed" ng-click="chrome_selected=true;firefox_selected=false;selected_browser='chrome'" ng-class="{active: chrome_selected || domain.discoveryBrowser == 'chrome'}">

                      <img src="/img/Chrome.ico" class="modal-browser-icon" ng-show="chrome_selected">
                      <div class="fa-icon" ng-show="!chrome_selected">
                        <i class="fa fa-chrome"></i>
                      </div>
                    </button>
                  </div>
                  <div class="col-xs-3">
                    <button class="btn btn-depressed" ng-click="firefox_selected=true;chrome_selected=false;selected_browser='firefox'" ng-class="{active: firefox_selected || domain.discoveryBrowser == 'firefox'}">
                      <img src="/img/firefox.png" class="modal-browser-icon" ng-show="firefox_selected">
                      <div class="fa-icon" ng-show="!firefox_selected">
                        <i class="fa fa-firefox"></i>
                      </div>
                    </button>
                  </div>
                  <div class="col-xs-6">
                  </div>
                </div>
            </div>
            <div class="col-sm-12 form_molecule">
                <div class="form_label_description">
                  <h6>Upload A Logo <span class="optional">(optional)</span></h6>
                  <p>For best results use a 220px x 100px transparent png.</p>

              </div>
                <div class="domain_modal_logo">
                    <i class="fa fa-image" ng-click="openPicker(domain)"></i>
                    <img ng-src="{{current_domain.logo_url}}" />
                </div>
              <button class="btn btn--secondary" ng-click="openPicker(domain)">Upload Logo</button>
            </div>
            <div ng-show="domain_creation_error" class="error">
              Something went wrong, Please try again
            </div>
        </div>
        <div class="modal_action_button">
          <button id="create_domain_button" class="btn btn--primary pull-right" ng-click="createDomain(current_domain.protocol, current_domain.url, selected_browser, current_domain.logo_url)"  ng-disabled="!selected_browser || domain_form.$invalid">Add Domain</button>
        </div>
    </form>
</md-dialog>
