<md-dialog class="col-sm-6">
  <p>
    You understand that by providing a domain name via our services, that we will utilize certain technology to, “scrape,” “crawl” or “spider” the pages including in such domain name and may collect your user credentials such that the services can access such domain names. You grant us all rights necessary to do so and represent and warrant that you own or have all necessary rights to permit us to do so and that such actions will not violate any third party rights.
  </p>
  <div class="modal_action_button">
    <button id="create_domain_button" class="btn btn--primary pull-right" ng-click="openCreateDomainDialog(current_domain)">I agree</button>
  </div>
</md-dialog>
