<md-dialog class="col-sm-6" style="">
    <div class="dialogue-close" ng-click="closeDialog()" ng-show="domains.length">
        <md-dialog-content>

           <h2 style="text-align:right;"><i class="fa fa-times"></i></h2>
        </md-dialog-content>
    </div>
    <div class="domain-dialogue-header">
        <md-dialog-content>
           <h2 class="modal__title">Edit your domain settings</h2>
        </md-dialog-content>
    </div>

    <form name="domain_form" novalidate>
        <div class ="domain-dialogue" >
            <div class ="col-sm-12 form_molecule" >
                   <div class="form_label_description_domain">
                       <h6>Domain</h6>
                    </div>
                <div class ="domain-dialogue-input" >
                  {{current_domain.protocol +"://"+ current_domain.url }}
                </div>
            </div>
            <div class="col-sm-12 form_molecule">
              <div class="form_label_description">
                  <h6>Select A Browser</h6>
                  This will be the default browser this domain uses for discovery.
              </div>
                 <div class="row browser_buttons">
                  <div class="col-xs-3">
                    <button class="btn btn-depressed" ng-click="domain.discoveryBrowser = 'chrome'" ng-class="{active: domain.discoveryBrowser == 'chrome'}">

                      <img src="/img/Chrome.ico" class="modal-browser-icon" ng-show="domain.discoveryBrowser == 'chrome'">
                      <div class="fa-icon" ng-show="domain.discoveryBrowser != 'chrome'">
                        <i class="fa fa-chrome"></i>
                      </div>
                    </button>
                  </div>
                  <div class="col-xs-3">
                    <button class="btn btn-depressed" ng-click="domain.discoveryBrowser = 'firefox'" ng-class="{active: domain.discoveryBrowser == 'firefox'}">
                      <img src="/img/firefox.png" class="modal-browser-icon" ng-show="domain.discoveryBrowser == 'firefox'">
                      <div class="fa-icon" ng-show="domain.discoveryBrowser != 'firefox'">
                        <i class="fa fa-firefox modal-browser-icon"></i>
                      </div>
                    </button>
                  </div>
                  <div class="col-xs-6">
                  </div>
                </div>
            </div>
            <div class="col-sm-12 form_molecule">
                <div class="form_label_description">
                  <h6>Upload A Logo <span class="optional">(optional)</span></h6>
                  For best results use a 230px x 100px transparent png.
              </div>
              <button class="btn btn--secondary" ng-click="openPicker(domain)">Upload Logo</button>
              <img ng-src="{{current_domain.logo_url}}" />
            </div>
            <div ng-show="domain_creation_error" class="error">
              Something went wrong, Please try again
            </div>
        </div>
        <div class="modal_action_button">
          <button id="create_domain_button" class="btn btn--primary pull-right" ng-click="updateDomain(current_domain.key, current_domain.protocol, current_domain.url, domain.discoveryBrowser, current_domain.logo_url)"  ng-disabled="!domain.discoveryBrowser">
            Update Domain
          </button>
        </div>
    </form>
</md-dialog>
