<md-dialog class="col-sm-8 modal-frame" style="">
	<div class="error__message" ng-show="show_create_domain_err">
	  {{domain_creation_err}}
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-10">
						<div class="domain-dialogue-header">
							<h2 class="modal__title">Edit your domain settings</h2>
						</div>
					</div>
				<div class="col-sm-2">
					<div class="dialogue-close" ng-click="closeDialog()" ng-show="domains.length">
						 <h2 style="text-align:right;">
							 <i class="fa fa-times"></i>
						 </h2>
						</div>
					</div>
				</div>
			<div class="row modal-form">
				<form name="domain_form" novalidate>
						<div class ="domain-dialogue" >
							<div class ="col-sm-12 form_molecule" >
							 <div class="form_label_description_domain">
								 <h6>Domain</h6>
								</div>
								<div class ="domain-dialogue-input" >
									{{current_domain.protocol +"://"+ current_domain.url }}
								</div>
							</div>
							<div class="col-sm-12 form_molecule">
								<div class="form_label_description">
									<h6>Selected Browser</h6>
									This is the default browser this domain uses for discovery.
								</div>
								<div class="row browser_buttons">
									<div class="col-xs-12">
										<button class="btn btn-depressed" ng-click="current_domain.discoveryBrowserName = 'chrome'" ng-class="{active: current_domain.discoveryBrowserName === 'chrome'}">
											<img src="/img/Chrome.ico" class="modal-browser-icon chrome" ng-show="current_domain.discoveryBrowserName === 'chrome'">
											<div class="fa-icon" ng-show="current_domain.discoveryBrowserName !== 'chrome'">
												<i class="fa fa-chrome"></i>
											</div>
										</button>
										<button class="btn btn-depressed" ng-click="current_domain.discoveryBrowserName = 'firefox'" ng-class="{active: current_domain.discoveryBrowserName === 'firefox'}">
											<img src="/img/firefox.png" class="modal-browser-icon firefox" ng-show="current_domain.discoveryBrowserName === 'firefox'">
											<div class="fa-icon" ng-show="current_domain.discoveryBrowserName !== 'firefox'">
												<i class="fa fa-firefox"></i>
											</div>
										</button>
									</div>
									<div class="col-xs-6">
									</div>
								</div>
							</div>
							<div class="col-sm-12 form_molecule">
								<div class="form_label_description">
									<h6>
										Upload A Logo <span class="optional">(optional)</span>
									</h6>
									For best results use a 220px x 100px transparent png.
								</div>
								<div class="domain_modal_logo" ng-if="!current_domain.logoUrl">
									<i class="fa fa-image" ng-click="openPicker(domain)"></i>
								</div>
								<div class="domain_modal_logo" ng-if="current_domain.logoUrl">
									<img ng-src="{{current_domain.logoUrl}}"/>
								</div>
								<button class="btn btn--secondary" ng-click="openPicker(domain)">Upload Logo</button>
							</div>
							<div ng-show="domain_creation_error" class="error">
								Something went wrong, Please try again
							</div>
						</div>
						<div class="modal_action_button">
							<button id="create_domain_button" class="btn btn--primary pull-right" ng-click="updateDomain(current_domain.key, current_domain.protocol, current_domain.discoveryBrowserName, current_domain.logo_url)"  ng-disabled="!domain.discoveryBrowserName">
								Update Domain
							</button>
						</div>
				</form>
				<div class="col-sm-12 error__message error__text" ng-show="show_create_domain_err">
				  <p>{{domain_creation_err}}</p>
				</div>
			</div>
		</div>
	</div>
</md-dialog>
