
<div class="col-md-12">
  <div class="col-md-3">
    <i class="fa fa-plus" ng-click="openCreateDomainDialog()"></i>
  </div>
  <div ng-repeat="domain in domains" class="col-md-3">
    {{domain.url}}
  </div>
</div>

<!--<div>
  <div>
    Start a new project by adding a domain.
  </div>
  <div>
    <input id="domain_input" ng-model="domain_url" class="" placeholder="yourdomain.com" />
  </div>
  <div>
    <button id="create_domain_button" ng-click="createDomain(domain_url)" class="btn">Create Project</button>
  </div>
</div>
-->
