<div class="col-md-12" ng-show="domain_error">
  {{domain_error}}
</div>
<div class="col-md-12" ng-show="show_create_domain_err">
  {{domain_creation_err}}
</div>

<div layout="row" layout-padding="" layout-wrap="" layout-fill=""  class="whiteframedemoBasicClassUsage">
  <md-whiteframe ng-click="openCreateDomainDialog()" flex-sm="25" flex-gt-sm="20" flex-gt-md="15" layout="" layout-align="center center" style="background-color:white;margin: 10px;height:150px" >
    <span>
      +
     Add Domain
   </span>
  </md-whiteframe>
  <md-whiteframe ng-repeat="domain in domains" flex-sm="25" flex-gt-sm="20" flex-gt-md="15" layout="" layout-align="center center" style="background-color:white;margin: 10px"  ng-click="selectDomain(domain)">
      <div>
        {{domain.logo}}
      </div>
      <div>
        {{domain.url}}
      </div>
  </md-whiteframe>
</div>


<!--<div>
  <div>
    Start a new project by adding a domain.
  </div>
  <div>
    <input id="domain_input" ng-model="domain_url" class="" placeholder="yourdomain.com" />
  </div>
  <div>
    <button id="create_domain_button" ng-click="createDomain(domain_url)" class="btn">Create Project</button>
  </div>
</div>
-->
