<div class="standard-container">
	<div class="error__message" ng-show="domain_error">
  {{domain_error}}
	</div>
	<div class="domain__button box--shadow vertical__center" id="add_domain_card" ng-click="openCreateDomainDialog()">
		<div class="domain__icon">
			<div class="domain--largeicon">
				<i class="fa fa-plus fa-5x"></i>
			</div>
		</div>
		<div class="domain__title">
			<h6>
					Add Domain
			</h6>
		</div>
	</div>
	<onboarding-popover enabled="welcomeOnboardingEnabled" steps="welcomeSteps" step-index='welcomeIndex'></onboarding-popover>

	<div class="domain__button box--shadow" ng-repeat="domain in domains track by $index">
		<div class="row">
			<div class="col-sm-2" style="text-align:left !important; position: relative;">
				<img src="/img/Chrome.ico" class="browser-icon"  ng-show="domain.discoveryBrowserName=='chrome'">
				<img src="/img/firefox.png" class="browser-icon"  ng-show="domain.discoveryBrowserName=='firefox'" >
			</div>
			<div class="col-sm-6">
			</div>
			<div class="col-sm-2" ng-click="openEditDomainDialog(domain)"
					 style="text-align:right !important; padding:0px; margin:0px; position: relative;" id="{{'edit_domain_settings'+$index}}" >
				 <i class="fa fa-pencil domain_card_action" ></i>
			</div>

			<div class="col-sm-2" ng-click="removeDomain(domain, $index)"  style="text-align:right !important; position: relative;">
				 <i class="fa fa-times domain_card_action" ></i>
			</div>
		</div>
		<div class="row vertical__center domain__icon" ng-click="selectDomain(domain)">
			<div class="domain__logo vertical__center">
					<img class="" src="{{domain.logoUrl}}" />
			</div>
		</div>
		<div class="domain__title" ng-click="selectDomain(domain)">
			<h6>
					{{domain.url}}
			</h6>
		</div>
	</div>
</div>