<div class="col-xs-12">
  <div class=" dialogue-close" ng-click="closeDialog()">
     <h2 style="text-align:right;">
       <i class="fa fa-times"></i>
     </h2>
  </div>
  <div class="">
    <h2 class="modal__title">Select any number of browsers to test.</h2>
  </div>
  <div class=" browser_buttons">
    <div class="row">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-12">
        <button class="btn btn-depressed browser_spacing" ng-click="chrome_selected=!chrome_selected" ng-class="{active: chrome_selected}">
          <img src="/img/Chrome.ico" class="modal-browser-icon chrome" ng-show="chrome_selected">
          <div class="fa-icon" ng-show="!chrome_selected">
            <i class="fa fa-chrome"></i>
          </div>
        </button>
        <button class="btn btn-depressed" ng-click="firefox_selected=!firefox_selected" ng-class="{active: firefox_selected}">
          <img src="/img/firefox.png" class="modal-browser-icon firefox" ng-show="firefox_selected">
          <div class="fa-icon" ng-show="!firefox_selected">
            <i class="fa fa-firefox"></i>
          </div>
        </button>
      </div>
      <!--
      <div class="col-xs-2 vertical__center__int" >
        <button ng-model="ie_selected" ng-show="false">
          <img src="/img/internet_explorer.png" class="modal-browser-icon disabled_image"></img>
        </button>
      </div>

      <div class="col-xs-2 vertical__center__int">
        <button ng-model="safari_selected" ng-show="false">
          <img src="/img/safari.png" class="modal-browser-icon disabled_image"></img>
        </button>
      </div>
        -->
      <div class="col-xs-3">
      </div>
    </div>
  </div>
  <div class="modal_action_button_container">
    <button class="btn btn--primary pull-right modal_action_button" ng-click="runSingleTestFlag?runTest(firefox_selected, chrome_selected) : runTests(firefox_selected, chrome_selected)"
            ng-disabled="!firefox_selected && !chrome_selected">
      Run
    </button>
  </div>
</div>
