<div class="content">


	<div class="secondary-nav vertical__center__int">
		<div class="col-sm-2">
  		<button class="btn btn--primary pull-left" ng-click="openBrowserSelectionDialog()">
  		  Run All Tests
  		</button>
	  </div>
		<div class="offset-sm-8 col-sm-2 stats__bar">
			<div class="stat_key_value">
				<!-- /.dropdown -->
				<div class="stat_key">
					Total Tests Failing
				</div>
				<div class="stat_value" ng-show="tests.length">
					{{(tests | filter:{correct:false}).length}} of {{tests.length}}
				</div>
			</div>
	  </div>
	</div>

	<div class="test-labels">
	  <div class="col-sm-1 status__title">
		    Status
	  </div>
	  <div class="col-sm-3 test__title">
			Test Title
	  </div>
	  <div class="col-sm-2">
		    Time (s)&nbsp;<i class="fa fa-sort"></i>
	  </div>
	  <div class="col-sm-2">
		    Date Last Run&nbsp;<i class="fa fa-sort"></i>
	  </div>
		<div class="col-xs-3">
				Browsers
		</div>
	  <div class="col-sm-1">
	  </div>
	</div>

	<div class="test-container">
		<div class="empty__state vertical__center" ng-show="waitingOnTests">
			<div style="text-align:center; margin: 0px auto;">
				<i class="fa fa-hourglass-half fa-spin fa-3x green fa-fw"
						aria-hidden="true"></i>
				<span class="sr-only">Running...</span>
			</div>
		</div>
		<div class="empty__state vertical__center" ng-show="!waitingOnTests && tests.length==0">
			<h2>
        Start a <a href="#/discovery">Discovery</a> to let Qanairy map your tests.
      </h2>
		</div>

		<div class="test"
				 ng-repeat="test in (filteredTests = tests) | filter:searchText"
				 ng-show="!waitingOnTests && tests.length > 0">


			<div class="test__profile vertical__center__int">
        <div class="col-xs-1 test__status" ng-show="test.runStatus">
          <i class="fa fa-hourglass-half fa-spin fa-3x green fa-fw" aria-hidden="true"></i>
          <span class="sr-only">Running...</span>
        </div>
        <div class="col-xs-1 test__status" ng-show="!test.runStatus">
					<span ng-show="test.correct">
					  <i class="fa fa-check-circle green status--symbol"></i>
					</span>
					<span ng-show="!test.correct && test.correct != null">
					  <i  class="fa fa-times-circle red status--symbol"></i>
					</span>
			  </div>
			  <div class="col-xs-3 test__title" ng-click="toggleTestDataVisibility(test, $index);visible_tab='nodedata'+$index">
					<div class="row">
						<div class="col-xs-12" ng-show="!test.show_test_name_edit_field">
							<h4 ng-click="showTestNameEdit(test)" >
								{{test.name || "Test #"+($index+1)}}
							</h4>
							<i class="fa fa-pencil edithover"  ng-click="showTestNameEdit(test)"></i>
						</div>
						<div class="col-xs-12 vertical__center__int no-gutter" ng-show="test.show_test_name_edit_field">
								<div class="col-md-6 col-sm-8">
									<input class="form-control title__edit" type="text" ng-model="new_name" ng-value="test.name" />
								</div>
								<div class="col-md-6 col-sm-4 ">
									<div class="pull-right title__edit__buttons btn--primary" ng-click="setTestName(test, new_name)" ng-show="!test.show_waiting_icon">
										Save
									</div>
									<div class="pull-right title__edit__buttons btn--secondary" ng-click="cancelEditingTestName(test)" ng-show="!test.show_waiting_icon">
										Cancel
									</div>
									<div class="pull-right">
										<i class="fa fa-hourglass-half fa-spin fa-2x green fa-fw" ng-show="test.show_waiting_icon" aria-hidden="true"></i>
									</div>
								</div>
						</div>
					</div>
			  </div>
			  <div class="col-xs-2" ng-click="toggleTestDataVisibility(test);visible_tab='nodedata'+$index">
					{{test.runTime/1000}} s
			  </div>
			  <div class="col-xs-2" ng-click="toggleTestDataVisibility(test);visible_tab='nodedata'+$index">
					{{ (test.lastRunTimestamp | date: 'MM/dd/yy h:mm a' | lowercase) || "Unknown / Not since discovery"}}
			  </div>
				<div class="col-xs-3">
					<div class="row">
						<div class="col-sm-2" ng-repeat="(browser, status) in test.browserPassingStatuses" ng-dblclick="updateTestCorrectness(test, browser, !status)">
							<div class="vertical__center">
								<img src="/img/Chrome.ico" class="browser-icon browser-icon"  ng-show="browser=='chrome'"></img>
								<img src="/img/firefox.png" class="browser-icon browser-icon"  ng-show="browser=='firefox'" ></img>
							</div>
							<div class="vertical__center">
								<i class="fa fa-check fa-2x green" ng-show="status" />
								<i class="fa fa-times fa-2x red" ng-show="!status" />
							</div>
						</div>
					</div>
				</div>
			  <div class="col-xs-1 test__btns">
					<div class="btn-group" role="group" aria-label="Test Functions">
					 <button class="btn btn--secondary" ng-click="openBrowserSelectionDialog(test, $index)">
						 Run
					 </button>
					</div>
			  </div>
			</div>
			<div ng-show="test.visible" class="col-xs-12">
			  <div class="test__path vertical__left__int" ng-click="visible_tab='nodedata'+$index">
				  <div ng-repeat="node in test.path.path" class="path-node-container vertical__center__int" ng-click="setCurrentNode(node)" tooltip-placement="top">
				    <div ng-show="node.browser_screenshot[default_browser]" class="path-node" >
						  <img src="{{node.browser_screenshot[default_browser]}}" class="path-node-image"/>
					  </div>
					 	<div ng-show="node.type == 'PageElement'" class="path-node path-element vertical__center__int" tooltip-placement="top">
						 	<span class="" >
                {{node.name}}
              </span>
			  		</div>
					  <div ng-show="node.type == 'Action'" class="path-node path-action vertical__center__int" tooltip-placement="top">
							<span ng-show="node.name=='click'" class="vertical__center__int">
						  	<i class="fa fa-mouse-pointer fa-2x"></i>
							</span>
							<span ng-show="node.name=='doubleClick'" class="vertical__center__int">
								<i class="fa fa-mouse-pointer fa-2x"></i>
								<div class=”doubleclick” >
									x2
								</div>
							</span>
							<span ng-show="node.name=='mouseover'" class="vertical__center__int">
								<i class="fa fa-hand-pointer-o fa-2x"></i>
							</span>
							<span ng-show="node.name=='scroll'" class="vertical__center__int">
								<i class="fa fa-arrows-v fa-2x"></i>
							</span>
							<span ng-show="node.name=='sendKeys'" class="vertical__center__int">
								<i class="fa fa-i-cursor fa-2x"></i>
							</span>
					  </div>
					  <div class="path-bar">
					  </div>
					</div>
					<div class="path-node-container vertical__center__int" ng-click="setCurrentNode(test.result)">
					  <div  ng-show="test.result.browser_screenshot[default_browser]" class="path-node">
						  <img src="{{test.result.browser_screenshot[default_browser]}}" class="path-node-image" tooltip-placement="top"/>
					  </div>
					</div>
				</div>
			</div>

				<div class="test__info" ng-show="test.visible">
					<div class="col-xs-8">
						<div class="content-wrap row">
								<div class="node__data" id="{{'nodedata'+$index}}" ng-show="visible_tab=='nodedata'+$index">
									<div class="col-sm-12" ng-show="current_node[$index].type=='Page'">
										<div class="row no-gutter">
										  <div class="node__title">
												<h5>
													<span style="font-weight:bold;">Page</span> -
													<a href="{{current_node[$index].url}}">{{current_node[$index].url}}</a>
												</h5>
											</div>
											<div class="">
												<div class="page__image col-xs-2">
													<img type="button" class="path-node-image"
															data-toggle="modal" data-target="#exampleModal"
															src="{{current_node[$index].browser_screenshot[default_browser]}}" class="path-node-image"
															ng-click="openPageModal(current_node[$index])" />
												</div>
												<div class="col-xs-10">
													<div class="key--value">
														<div class="data__key">
														 Landable
														</div>
														<div class="data__value">
														 <input type="checkbox" ng-checked="current_node[$index].landable" disabled/>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12" ng-show="current_node[$index].type=='PageElement'">
										<div class="row no-gutter">
										  <div class="node__title">
												<h5><span style="font-weight:bold;">Element</span> - {{current_node[$index].name}}</h5>
											</div>
											<div class="col-sm-12 col-xs-12">
												<div class="key--value">
													<div class="data__key">
													 Xpath
													</div>
													<div class="data__value">
													 {{current_node[$index].xpath}}
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-xs-12">
												<div class="key--value">
													<div class="data__key">
														Text
													</div>
													<div class="data__value">
												 		{{current_node[$index].text}}
													</div>
												</div>
											</div>
											<div class="col-sm-6 col-xs-12">
												<div class="key--value">
													<div class="data__key">
														CSS
													</div>
													<div class="data__value" ng-repeat="(key, value) in current_node[$index].cssValues">
														{{key}}:           {{value}};
													</div>
												</div>
											</div>
											<div class="col-sm-6 col-xs-12">
												<div class="key--value">
													<div class="data__key">
														Attributes
													</div>
													<div class="data__value" ng-repeat="attribute in current_node[$index].attributes">
														<div class="data__key">
															{{attribute.name}}
														</div>
														<span class="data__value" ng-repeat="value in attribute.vals">
															{{value}}
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12" ng-show="current_node[$index].type=='Action'">
										<div class="row no-gutter">
										  <div class="node__title">
												<h5><span style="font-weight:bold;">Action</span> - {{current_node[$index].name}}</h5>
											</div>
											<div class="col-xs-12">
												<div class="key--value" ng-show="current_node[$index].value || current_node[$index].name=='sendKeys'">
													<div class="data__key">
														Value
													</div>
													<div class="data__value">
														{{current_node[$index].value}}
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="test__history" ng-repeat="record in test.records" ng-show="visible_tab=='history'+$index">
									<h5>{{getDate(record.ranAt)}}</h5>
									Passes : {{record.passes}}
									<br />
									Total Run Duration : {{record.runTime/1000}} ms
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
							<div class="test__groups vertical__center__int no-gutter">
								<div class="col-md-1 col-sm-1 ">
									<h5>Groups: </h5>
								</div>
								<div class="col-md-3 col-sm-5 ">
									<div class="input-group">
										<input type="text" class="form-control pull-right" ng-model="group.name" placeholder="Feature, Smoke, etc." aria-describedby="basic-addon2">
										<span class="input-group-addon btn--gray" ng-click="addGroup(test, group)" id="basic-addon2"><i class="fa fa-plus"></i></span>
									</div>
								</div>
								<div class="col-md-8 col-sm-6">
									<div class="group__tag"
											 ng-repeat="group in test.groups"
											 data-toggle="tooltip"
											 data-placement="top"
											 title="{{group.description}}">
										{{group.name}}
										<span ng-click="removeGroup(test, group, $index)">
											<i class="remove__group fa fa-times"></i>
										</span>
									</div>
								</div>
							</div>
					</div>
				</div>

	  </div>
	</div>
</div>
