<div class="content">
	<div class="secondary-nav vertical__center__int">
		<div class="col-md-2 col-sm-4">
  		<button class="btn btn--green pull-left" ng-click="runGroupTests('www.thecodelesscode.com',selectedGroup)">
  		  Run Tests
  		</button>
	  </div>
	  <div class="col-md-5 col-sm-0">
	  </div>
	  <div class="col-md-3 col-sm-6 search">
  		<div class="input-group">
  		  <input type="text" class="form-control pull-right" ng-model="searchText" placeholder="Search Tests" aria-describedby="basic-addon2">
  		  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
  		</div>
	  </div>
	  <div class="col-md-2 col-sm-2">
		 	<!-- /.dropdown -->
			<div class="dropdown dropdown-toggle pull-right"  ng-show="auth.isAuthenticated" data-toggle="dropdown" href="#">
				Filter
				<i class="fa fa-caret-down"></i>
			</div>
			<ul class="dropdown-menu">
				<li>
					<a href="">
						<input type="checkbox" aria-label="Checkbox for following text input">&nbsp;
				 		Failed
					</a>
				</li>
				<li>
					<a href="">
						<input type="checkbox" aria-label="Checkbox for following text input">&nbsp;
				 		Passed
					</a>
				</li>
			</ul>
			<!-- /.dropdown -->
	  </div>
	</div>

	<div class="test-labels">
	  <div class="col-sm-2">
		    Status
	  </div>
	  <div class="col-sm-4">
		    Test Title
	  </div>
	  <div class="col-sm-2">
		    Time (ms)&nbsp;<i class="fa fa-sort"></i>
	  </div>
	  <div class="col-sm-2">
		    Date Last Run&nbsp;<i class="fa fa-sort"></i>
	  </div>
	  <div class="col-sm-2">
	  </div>
	</div>

	<div class="test-container">
		<div class="empty__state vertical__center" ng-show="tests.length==0">
			<h3>
        Start a &#34;<a href="#/discovery">Discovery</a>&#34; to let Qanairy map your tests.
      </h3>
		</div>
		<div class="test" ng-repeat="test in tests | filter:searchText" ng-show="tests.length > 0">
			<div class="test__profile vertical__center__int" ng-click="toggleTestDataVisibility(test)">
        <div class="col-xs-2 test__status" ng-show="test.running">
          <i class="fa fa-hourglass-half fa-spin fa-3x green fa-fw" aria-hidden="true"></i>
          <span class="sr-only">Running...</span>
        </div>
        <div class="col-xs-2 test__status" ng-show="!test.running">
					<span ng-show="test.correct">
					  <i class="fa fa-check-circle green status--symbol"></i>
					</span>
					<span ng-show="!test.correct && test.correct != null">
					  <i  class="fa fa-times-circle red status--symbol"></i>
					</span>
			  </div>
			  <div class="col-xs-4 test__title">
					<div ng-click="showNameInputField(test, true)" ng-show="!test.show_test_name_edit_field">
						<h2>{{test.name || "Test #"}}</h2>
					</div>
					<div ng-show="test.show_test_name_edit_field">
						<input type=-"text" ng-model="test.name" />
						<i class="fa fa-plus" ng-click="updateTestName(test)"></i>
					</div>
			  </div>
			  <div class="col-xs-2">
					{{test.runtime || "0 ms"}}
			  </div>
			  <div class="col-xs-2">
					&nbsp;
			  </div>
			  <div class="col-xs-2 test__btns">
					<div class="btn-group" role="group" aria-label="Run Favorite More">
					 <button class="btn btn--left btn--gray" ng-click="runTest(test)">
						 Run
					 </button>
					 <button class="btn btn--right btn--gray">
						 <i class="fa fa-angle-down"></i>
					 </button>
					</div>
			  </div>
			</div>


			<div ng-show="test.visible">
			  <div class="test__path vertical__center__int" >
				  <div ng-repeat="node in test.path.path" class="path-node-container" ng-click="setCurrentNode(node)">
				    <div ng-show="node.screenshot" class="path-node path-page"
                 uib-tooltip="{{node.url}}">
						  <img src="{{node.screenshot}}" class="path-node-image"/>
					  </div>
					 	<div ng-show="node.type == 'PageElement'" class="path-node path-element vertical__center">
						 	<span class="" uib-tooltip="node.xpath" >
                {{node.name}}
              </span>
			  		</div>
					  <div ng-show="node.type == 'Action'" class="path-node path-action vertical__center">
						  <i class="fa fa-mouse-pointer fa-2x icon" uib-tooltip="node.name"></i>
					  </div>
					  <div class="path-bar">
					  </div>
					</div>
					<div class="path-node-container" ng-click="setCurrentNode(test.result)">
					  <div  ng-show="test.result.screenshot" class="path-node">
						  <img src="{{test.result.screenshot}}"
                   class="path-node-image"
							 		 uib-tooltip="{{test.result.url}}"/>
					  </div>
					</div>
				</div>
				<div class="test__groups">
					<div>
						<label>Groups: </label></div>
						<div ng-repeat="group in test.groups"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="{{group.description}}">
						  {{group.name}}
							<span ng-click="removeGroup(test.key, group)">
								<i class="fa fa-times"></i>
							</span>
						</div>
					<div>
						<input ng-model="group.name" />
					</div>
					<div  ng-click="addGroup(test, group)">
						<i class="fa fa-plus"></i>
					</div>
			  </div>
			  <div class="test__info">
					<md-tabs>
					 	<md-tab label="Node Data" class="info__title h5">
							<div class="node__data">
								<div class="" ng-show="current_node.type=='Page'">
							  	<div class="col-sm-4">
										<img src="{{current_node.screenshot}}" class="path-node-image" uib-tooltip="{{current_node.url}}" />
							  	</div>
							  	<div class="col-sm-8">
								  	<div class="key--value row">
										  <div class="col-sm-1 data__key">
											 Landable:&nbsp;&nbsp;
										  </div>
										  <div class="col-sm-11 data__value">
											 {{current_node.landable}}
										  </div>
									  </div>
									  <div class="key--value row">
										  <div class="col-sm-1 data__key">
											 URL:&nbsp;&nbsp;
										  </div>
										  <div class="col-sm-11 data__value">
											 {{current_node.url}}
										  </div>
									  </div>
									  <div class="key--value row">
										  <div class="col-sm-1 data__key">
											 Visible Element Counts:&nbsp;&nbsp;
										  </div>
										  <div class="col-sm-11 data__value">
											 {{current_node.elementCounts || "coming soon"}}
										  </div>
									  </div>
									  <div class="key--value row">
										  <div class="col-sm-1 data__key">
											 Total Weight:&nbsp;&nbsp;
										  </div>
										  <div class="col-sm-11 data__value">
											 {{current_node.totalWeight}}
										  </div>
									 </div>
							  </div>
							</div>
							<div class="" ng-show="current_node.type=='PageElement'">
							  <div class="pull-right col-sm-4" ng-show="current_node.screenshot" >
									<img src="{{current_node.screenshot}}" style="width: 100px; height:100px" uib-tooltip="{{current_node.url}}" />
							  </div>
							  <div class="col-sm-8">
								  <div class="row node__title">
									  <h4>Element</h4>
								  </div>
								 	<div class="key--value row">
									  <div class="col-sm-1 data__key no-padding">
										 	Tag type:&nbsp;&nbsp;
									  </div>
									  <div class="col-sm-11 data__value no-padding" style="text-transform:capitalize !important;">
										 	{{current_node.name}}
									  </div>
								 </div>
								 <div class="key--value row">
	                  <div class="col-sm-1 data__key no-padding">
      								 Xpath:&nbsp;&nbsp;
    							  </div>
      							<div class="col-sm-11 data__value no-padding">
      								 {{current_node.xpath}}
      					    </div>
								 </div>
								 <div class="key--value row">
								   <div class="col-sm-1 data__key no-padding">
                     CSS:&nbsp;&nbsp;
                   </div>
								   <div class="col-sm-11 data__value" ng-repeat="(key, value) in current_node.cssProperties">
										 {{key}} -           {{value}}
			             </div>
							   </div>
  							 <div class="key--value row">
  							   <div class="col-sm-1 data__key no-padding">
  								   Attributes:&nbsp;&nbsp;
  							   </div>

      						 <div class="col-sm-11 data__value" ng-repeat="(key, value) in current_node.attributes">
      						 	 {{key}} -           {{value}}
      						 </div>
  							 </div>
  							 <div class="key--value row">
  								  <div class="col-sm-1 data__key no-padding">
  			                  Text:&nbsp;&nbsp;
  								  </div>

  								  <div class="col-sm-11 data__value no-padding">
                      {{current_node.text}}
  								  </div>
  							 </div>
  						</div>
  					</div>
						<div class="" ng-show="current_node.type=='Action'">
							<div class="row node__title">
								<h4>Action</h4>
							</div>
							<div class="key--value row">
							  <div class="col-sm-1 data__key">
								  Name:&nbsp;&nbsp;
							  </div>
							  <div class="col-sm-11 data__value">
								  {{current_node.name}}
							  </div>
							</div>
							<div class="key--value row">
							  <div class="col-sm-1 data__key">
									Value:&nbsp;&nbsp;
							  </div>
							  <div class="col-sm-11 data__value">
								  {{current_node.val}}
							  </div>
							</div>
						</div>
				  </div>
			  </md-tab>
  		  <md-tab label="History" class="info__title h5">
  			  <div class="test__history">
		        Put test run history
  			  </div>
  		  </md-tab>
  		</md-tabs>
    </div>
		</div>
	  </div>
	</div>
</div>
